/* -----------------08-14預留的top footer slideshow----------------------- */
body {
    margin: 0;
    background-image: radial-gradient(var(--BG_LOrange) 2px, transparent 2px),
        radial-gradient(var(--BG_LOrange) 2px, transparent 2px);
    background-size: calc(20 * 2px) calc(20 * 2px);
    background-position: 0 0, calc(10 * 2px) calc(10 * 2px);
}

/* -----------------08.IntroStuffing----------------------- */
.cakearea {
    margin-top: 50px;
}

.cakeprobox {
    border-radius: 15px 15px 15px 15px;
    background-color: #C2856A;
    width: 1200px;
    height: 100%;
    /* border: #df03ad 5px solid; */
    margin: 0px 0px 0px 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 30px 30px 30px;

    -webkit-box-shadow: 0px 0px 20px 0px var(--Brown04_BE); 
    box-shadow: 0px 0px 20px 0px var(--Brown04_BE);

}

.cakebox {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 20px 20px 20px 20px;
}

.card {
    width: 49%;
    height: 300px;
    /* border: solid 5px rgb(120, 120, 120) ; */
    cursor: pointer;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 5px 5px 5px 5px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1), inset 0 0 8px 9px rgba(63, 31, 31, 0.1);
}

.card_body {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
    transition: transform 1.6s;

}
.card_back p{
    color: #e3344b;
    font-size: 26px;
}

.card_img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_front,
.card_back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card_back {
    background-color: #eab48d;
    padding: 3px 3px 3px 3px;
    color: #5f3802;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    transform: rotateY(180deg);
}

.card_links {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.card_link {
    padding: 8px;
    width: 55px;
    height: 55px;
    background-color: transparent;
    border: 2px solid #df03ad;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
}

.card_link:hover {
    background-color: #df03ad;
}

.card_link_img {
    width: 100%;
    display: block;
}

.card:hover .card_body {
    transform: rotateY(180deg);
}

.card_title {
    margin: 0px 0px 0px 0px;
}

.ingredientsflex ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

/*食材區域*/

.box {
    margin: 3px;
}

.container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}


.container .box {
    position: relative;
    width: 260px;
    height: 270px;
    overflow: hidden;
    transition: 0.5s;
    margin-bottom: 50px;
    border-radius: 12px 12px 12px 12px;
}


.container .box:hover {
    transform: scale(1.25);
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/* .container .box .img-box{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
} */

.container .box .img-box::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #222, transparent);
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
}

.container .box:hover .img-box::before {
    opacity: 1;
}

.container .box .img-box img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .box .text-box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: flex-end;
    color: rgb(255, 255, 255);
    z-index: 2;

}


.container .box .text-box h2 {
    font-size: 10px;
    margin-bottom: 80px;
    margin-right: 10px;
    transform: translate(200px);
    transition: 0.5s;
}

.container .box:hover .text-box h2 {
    transform: translateY(0);
    transition-delay: 0.3s;
}

.container .box .text-box p {
    font-size: 8px;
    line-height: 15px;
    margin-right: 40px;
    margin-bottom: 50px;
    transform: translateY(200px);
    transition: 0.5s;
}

.container .box:hover .text-box p {
    transform: translateY(0);
    transition-delay: 0.4s;
}

.stuffingtitle {
    margin-left: 34%;

}

.stuffingtitle img {
    width: 50%;
    height: 50%;
}

.ingredients {
    margin-left: 34%;
    margin-bottom: 15px;
}

.ingredients img {
    display: block;
    width: 50%;
    height: 50%;
    margin-left: 0px;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*08.IntroStuffingr 結束*/


/* -----------------09.commonQA----------------------- */

.qadiv {
    margin-top: 20px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.qadiv h3 {
    color: #544132;
    text-align: center;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
}

.qadiv p {
    color: #544132;
    text-align: center;
    font-size: 20px;
}

button#expand {
    position: absolute;
    right: 0;
}

.qicon img,
.addicon img {
    width: 25px;
    margin-left: 10px;
    margin-right: 12px;
}

.qa_bgcolor {    
    margin-top: 50px;
    margin-bottom: 50px;
}

.qa_area {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 20px 20px 20px 20px;
    -webkit-box-shadow: 0px 0px 20px 0px var(--Brown04_BE); 
    box-shadow: 0px 0px 20px 0px var(--Brown04_BE);
}

.faq_question {
    border-bottom: solid 0.2rem #544132;

}

.faq_question {
    font-weight: bold;
    color: #474747;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*09.commonQA 結束*/

/* -----------------10.memberLogin---------------------*/

/*會員登入文字置中*/


.loginWord {
    font-size: 50px;
    letter-spacing: 20px;
    text-align: center;
    color: #705a43;
    font-weight: 900;
    margin-bottom: 20px;
    margin-top: 20px;
}

.loginWord h3 {

    display: block;
}

/*登入位置置中*/
.memberDatabox {
    border: 1px transparent solid;
    margin-left: auto;
    margin-right: auto;

    /* margin-bottom: 50px; */
    width: 600px;
    height: 320px;
    background-color: #F3D2B3;
    border-radius: 10px 10px 10px 10px;
    color: #8C5F37;
    box-shadow: #222;
    -webkit-box-shadow: 0px 0px 20px 0px var(--Brown04_BE); 
    box-shadow: 0px 0px 20px 0px var(--Brown04_BE);
}

.memberDatamun {
    width: 600px;
    margin-top: 40px;
    font-size: 24px;
    font-family: 微軟正黑體;
    font-weight: 900;
    margin-left: 100px;
    color: #8C5F37;
    /* background-color: #5c3a31; */
    /* border: 1px seagreen solid; */
}

.memberDatapass {
    width: 550px;
    font-size: 24px;
    font-family: 微軟正黑體;
    font-weight: 900;
    margin-left: 100px;
    margin-top: 30px;

}

.memberDatamun input,
.memberDatapass input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    font-size: 20px;
    line-height: 1.5;
    border-radius: 10px 10px 10px 10px;
}

.aprob {
    margin-left: auto;
    margin-top: 20px;
    font-size: 18px;

}

.aprob a {
    color: #8C5F37;
    text-decoration: none;

}

.aproba1 {
    margin-left: 100px;
}

.aproba2 {
    margin-left: 50px;
}

.loginbutton {
    margin-top: 30px;
    width: 110px;
    height: 50px;
    font-size: 28px;
    font-weight: 900;
    border-radius: 10px 10px 10px 10px;
    margin-left: 230px;
    background-color: #5c3a31;
    color: white;
    letter-spacing: 7px;
    border: none;
}



.loginsuccessarea {
    box-shadow: #222;
    position: absolute;
    display: none;
    width: 400px;
    height: 150px;
    background-color: #BB8058;
    border-radius: 10px 10px 10px 10px;
    margin-left: auto;
    margin-right: auto;
    top: 900px;
    left: 560px;
}

.loginxbutton {
    height: 40px;
    background-color: #5D3931;
    border-radius: 10px 10px 0px 0px;
}

.loginxbutton button {
    font-size: 26px;
    color: #F4D0BB;
    font-weight: 800;
    text-align: right;
    background-color: #5D3931;
    border-radius: 10px 10px 10px 10px;
    margin-left: 360px;
    border: none;
}



.loginsuccess h2 {
    font-size: 50px;
    color: white;
    font-weight: 600;
    letter-spacing: 5px;
    margin-left: 95px;
    margin-bottom: 0;
    margin-top: 8px;

}

.loginsuccess p {
    display: block;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 900;
    margin-left: 120px;
    letter-spacing: 3px;
    margin-top: 0;
}

/*10.memberLogin結束*/

/* -----------------11.memberSignUp---------------------*/

.changeloing {
    width: 150px;
    text-align: right;
    margin-top: 20px;
    margin-left: 450px;
    font-weight: 900;
}

.changeloing a {
    margin-top: 20px;
    text-decoration: none;
    color: #5c3a31;
}

.signuparea {
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 50px; */
    /* margin-top: 50px; */
    width: 50%;
    background-color: #F3D2B3;
    border-radius: 20px 20px 20px 20px;
    color: #8C5F37;
    -webkit-box-shadow: 0px 0px 20px 0px var(--Brown04_BE); 
    box-shadow: 0px 0px 20px 0px var(--Brown04_BE);
}


.member_title {
    /* background-color: #4C2A20; */
    /* margin-top: 30px; */
    height: 20px;
    width: 350px;
    text-align: center;
    letter-spacing: 5px;
    margin-left: auto;
    margin-right: auto;
    color: #5C3A30;
    margin-top: 30px;
    margin-bottom: 50px;
}

.member_title h2 {
    display: inline-block;
    font-size: 50px;
}

.emailarea {
    width: 550px;
    font-size: 24px;
    font-family: 微軟正黑體;
    font-weight: 900;
    margin-left: auto;
    margin-right: auto;
    color: #8C5F37;
}

.emailarea input {
    background-color: #FCE9E5;
    margin-top: 20px;
    width: 400px;
    line-height: 2;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px 10px 10px 10px;
    border: white 1px solid;
    color: #8C5F37;
}

.passwordarea {
    width: 500px;
    font-size: 24px;
    font-family: 微軟正黑體;
    font-weight: 900;
    margin-left: auto;
    margin-right: auto;
}

.passwordarea input {
    background-color: #FCE9E5;
    margin-top: 20px;
    width: 400px;
    line-height: 2;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px 10px 10px 10px;
    border: white 1px solid;
    color: #8C5F37;
}

.password2area {
    width: 600px;
    font-size: 24px;
    font-family: 微軟正黑體;
    font-weight: 900;
    margin-left: auto;
    margin-right: auto;
}

.password2area input {
    background-color: #FCE9E5;
    margin-top: 20px;
    width: 400px;
    line-height: 2;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px 10px 10px 10px;
    border: white 1px solid;
    color: #8C5F37;
}

.passmessege {
    margin-left: 280px;
    font-size: 20px;
    color: red;
}

.namearea {
    width: 500px;
    font-size: 24px;
    font-family: 微軟正黑體;
    font-weight: 900;
    margin-left: auto;
    margin-right: auto;
    color: #8C5F37;
}

.namearea input {
    background-color: #FCE9E5;
    margin-top: 20px;
    width: 400px;
    line-height: 2;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px 10px 10px 10px;
    border: white 1px solid;
    color: #8C5F37;
}

.birthdayarea {
    width: 500px;
    font-size: 24px;
    font-family: 微軟正黑體;
    font-weight: 900;
    margin-left: auto;
    margin-right: auto;
    color: #8C5F37;
}

.birthdayarea input {
    background-color: #FCE9E5;
    margin-top: 20px;
    width: 400px;
    line-height: 2;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px 10px 10px 10px;
    border: white 1px solid;
    color: #8C5F37;
}

.sexarea {
    width: 500px;
    font-size: 24px;
    font-family: 微軟正黑體;
    font-weight: 900;
    margin-left: auto;
    margin-right: auto;
    color: #8C5F37;
}

.sexarea input {
    background-color: rgb(8, 10, 126);
    margin-top: 20px;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px 10px 10px 10px;
    border: white 1px solid;
    color: #8C5F37;
}

.phonearea {
    width: 500px;
    font-size: 24px;
    font-family: 微軟正黑體;
    font-weight: 900;
    margin-left: auto;
    margin-right: auto;
    color: #8C5F37;
}

.phonearea input {
    background-color: #FCE9E5;
    margin-top: 20px;
    width: 400px;
    line-height: 2;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px 10px 10px 10px;
    border: white 1px solid;
    color: #8C5F37;
}


.addressarea {
    width: 600px;
    font-size: 24px;
    font-family: 微軟正黑體;
    font-weight: 900;
    margin-left: auto;
    margin-right: auto;
    color: #8C5F37;
}


.addressarea input {
    background-color: #FCE9E5;
    margin-top: 20px;
    width: 400px;
    height: 100px;
    line-height: 2;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px 10px 10px 10px;
    border: white 1px solid;
    color: #8C5F37;
}

.onlyyesarea {
    width: 400px;
    font-size: 24px;
    font-family: 微軟正黑體;
    font-weight: 900;
    margin-top: 30px;
    margin-left: 200px;
    color: #8C5F37;
}

.onlyyesarea input {
    background-color: #FCE9E5;
    margin-top: 10px;
    margin-left: 400px;
    /* width: 400px; */
    /* line-height: 1; */
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px 10px 10px 10px;
    border: rgb(138, 6, 6) 1px solid;
    margin-left: 80px;
    color: #8C5F37;
}


.buttonarea {
    width: 150px;
    margin-left: auto;
    margin-right: auto;

}

.buttonareabutton {
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 20px 20px 20px 20px;
    width: 120px;
    height: 60px;
    font-size: 24px;
    font-family: 微軟正黑體;
    border: rgb(234, 227, 22);
    font-weight: 900;
    letter-spacing: 3px;
    background-color: #5c3a31;
    color: white;
}

.showsuccessarea {
    box-shadow: #222;
    position: absolute;
    display: none;
    width: 400px;
    height: 150px;
    background-color: #BB8058;
    border-radius: 10px 10px 10px 10px;
    margin-left: auto;
    margin-right: auto;
    top: 700px;
    left: 760px;
}

.xbutton {
    height: 40px;
    background-color: #5D3931;
    border-radius: 10px 10px 0px 0px;
}

.xbutton button {
    font-size: 26px;
    color: #F4D0BB;
    font-weight: 800;
    text-align: right;
    background-color: #5D3931;
    border-radius: 10px 10px 10px 10px;
    margin-left: 360px;
    border: none;
}



.showsuccessword h2 {
    font-size: 50px;
    color: white;
    font-weight: 600;
    letter-spacing: 5px;
    margin-left: 95px;
    margin-bottom: 0;
    margin-top: 8px;

}

.showsuccessword p {
    display: block;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 900;
    margin-left: 120px;
    letter-spacing: 3px;
    margin-top: 0;
}

/*11.memberSignUp結束*/



/* -----------------12.memberProfilep---------------------*/

.profilnav {
    margin-top: 30px;
    width: 50%;
    border-radius: 10px 10px 10px 10px;
    background-color: #8c623e;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0px 0px 20px 0px var(--Brown04_BE); 
    box-shadow: 0px 0px 20px 0px var(--Brown04_BE);
}

.profilnav ul {
    display: flex;
    margin-top: 0px;
}

.profilnav_bottom li {
    border-bottom: 5px white solid;
}

.profilnav li {
    padding: 10px 10px 10px 10px;
    margin: 5px 5px 5px 5px;
    margin-right: 25px;
    list-style: none;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 5px;
    color: white;
}

.profilnav a {
    text-decoration: none;
}

.profilnav li:hover {
    border-bottom: 10px white solid;
}

.profileparea {
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 50px; */
    /* margin-top: 50px; */
    width: 50%;
    background-color: #F3D2B3;
    border-radius: 20px 20px 20px 20px;
    color: #8C5F37;

    -webkit-box-shadow: 0px 0px 20px 0px var(--Brown04_BE); 
    box-shadow: 0px 0px 20px 0px var(--Brown04_BE);
}

.profilnumberarea {
    width: 550px;
    font-size: 24px;
    font-family: 微軟正黑體;
    font-weight: 900;
    margin-left: 18%;
    margin-right: auto;
    color: #8C5F37;
    border: none;
    min-width: 60%;

}

.profilnumberarea input {
    background-color: #DDDDDD;
    margin-top: 20px;
    width: 400px;
    line-height: 2;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px 10px 10px 10px;
    border: none;
    /* border: 1px gray solid; */
}


.profilemailarea {
    width: 600px;
    font-size: 24px;
    font-family: 微軟正黑體;
    font-weight: 900;
    margin-left: 22.5%;   
    margin-right: auto;
}

.profilemailarea input {
    background-color: #DDDDDD;
    margin-top: 20px;
    width: 400px;
    line-height: 2;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px 10px 10px 10px;
    border: none;
}

.profilpasswordarea,
.profiloldpasswordarea {
    width: 500px;
    font-size: 24px;
    font-family: 微軟正黑體;
    font-weight: 900;
    margin-left: 22.5%;  
    margin-right: auto;
}

.profilpasswordarea input,
.profiloldpasswordarea input {
    margin-top: 20px;
    width: 400px;
    line-height: 2;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px 10px 10px 10px;
    border: none;
    background-color: #DDDDDD;
}

.profilpassword2area {
    width: 600px;
    font-size: 24px;
    font-family: 微軟正黑體;
    font-weight: 900;
    margin-left: 17%;
    margin-right: auto;
}

.profilpassword2area input {
    background-color: #DDDDDD;
    margin-top: 20px;
    width: 400px;
    line-height: 2;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px 10px 10px 10px;
    border: none;
}

.profilpassmessege {
    margin-left: 280px;
    font-size: 20px;
    color: red;
    font-weight: 500;
}

.profilnamearea {
    width: 500px;
    font-size: 24px;
    font-family: 微軟正黑體;
    font-weight: 900;
    margin-left: 25%;
    margin-right: auto;

}

.profilnamearea input {
    background-color: #DDDDDD;
    margin-top: 20px;
    width: 400px;
    line-height: 2;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px 10px 10px 10px;
    border: none;
}

.profilbirthdayarea {
    width: 500px;
    font-size: 24px;
    font-family: 微軟正黑體;
    font-weight: 900;
    margin-left: 25%;
    margin-right: auto;
}

.profilbirthdayarea input {
    background-color: #DDDDDD;
    margin-top: 20px;
    width: 400px;
    line-height: 2;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px 10px 10px 10px;
    border: none;
}

.profilsexarea {
    width: 500px;
    font-size: 24px;
    font-family: 微軟正黑體;
    font-weight: 900;
    margin-left: 25%;
    margin-right: auto;
}

.profilsexarea input {
    background-color: #DDDDDD;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px 10px 10px 10px;
    border: none;
}

.profilphonearea {
    width: 500px;
    font-size: 24px;
    font-family: 微軟正黑體;
    font-weight: 900;
    margin-left: 25%;
    margin-right: auto;
}

.profilphonearea input {
    background-color: #DDDDDD;
    margin-top: 20px;
    width: 400px;
    line-height: 2;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px 10px 10px 10px;
    border: none;
}


.profiladdressarea {
    width: 600px;
    font-size: 24px;
    font-family: 微軟正黑體;
    font-weight: 900;
    margin-left: 19%;
    margin-right: auto;
}


.profiladdressarea input {
    background-color: #DDDDDD;
    margin-top: 20px;
    width: 400px;
    height: 100px;
    line-height: 2;
    font-size: 18px;
    font-weight: 900;
    border-radius: 10px 10px 10px 10px;
    border: none;
}



.profilrevise {
    width: 150px;
    margin-left: 380px;
    margin-right: auto;

}

.profilrevise input {
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 20px 20px 20px 20px;
    width: 200px;
    height: 60px;
    font-size: 30px;
    font-family: 微軟正黑體;
    border: rgb(234, 227, 22);
    font-weight: 900;
    background-color: #5d3b32;
    color: #ffffff;
    letter-spacing: 10px;
}

/* .profilsuccess{
    box-shadow: #222;
    position: absolute;
    display:none;
    width: 400px;
    height: 150px;
    background-color: #BB8058;
    border-radius: 10px 10px 10px 10px;
    margin-left: auto;
    margin-right: auto;
    top: 900px;
    left: 560px;
    color: white;
    
}

.profilbutton{
    height: 40px;
    background-color: #5D3931;
    border-radius: 10px 10px 0px 0px;
    color: white;
}
.profilbutton button{
    font-size: 26px;
    color: #F4D0BB;
    font-weight: 800;
    text-align: right;
    background-color: #5D3931;
    border-radius: 10px 10px 10px 10px;
    margin-left: 360px;
    border: none;
    color: white;
}



.profilsuccessword h2{
    font-size: 50px;
    color: white;
    font-weight: 600;
    letter-spacing: 5px;
    margin-left: 80px;
    margin-bottom: 0;
    margin-top: 8px;
    color: white;
    
}

.profilsuccessword p{
    display: block;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 900;
    margin-left: 120px;
    letter-spacing: 3px;
    margin-top: 0;
    color: white;
} */


/*12.memberProfile*/




/* -----------------13.generalOrderPage---------------------*/


.generalOrderPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff1c5;
}

.generalOrder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 20px;
}


.generalOrdernav {
    width: 100%;
    min-width: 700px;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: #bc8159;

    -webkit-box-shadow: 0px 0px 20px 0px var(--Brown04_BE); 
    box-shadow: 0px 0px 20px 0px var(--Brown04_BE);
}

.generalOrdernav ul {
    display: flex;
}

.generalOrdernav ul a {
    text-decoration: none;
}

.genorderline ul .genorderline {
    border: 5px white solid;
}
.borderbottom li{
    border-bottom: 5px white solid;
}


.generalOrdernav li {
    padding: 10px;
    margin: 5px;
    margin-right: 25px;
    list-style: none;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 5px;
    color: white;
}

.generalOrdernav li:hover {
    border-bottom: 5px white solid;
}

.Ordernavbuttom {
    border-bottom: px white solid;
}

/* * * * * * */
.generalOrderDataArea {
    width: 100%;
    min-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3D2b3;
    border-radius: 10px;
    color: #5a3311;

    -webkit-box-shadow: 0px 0px 20px 0px var(--Brown04_BE); 
    box-shadow: 0px 0px 20px 0px var(--Brown04_BE);
}

.generalOrderDataArea>table {
    width: 100%;
    margin: 10px 20px 20px 20px;
    border-collapse: collapse;
    border-radius: 10px;
}

.generalOrderDataArea>table>tbody::before {
    content: "";
    padding: 2px;
}

/*訂單 ....*/
.generaDatanav {
    letter-spacing: 5px;
}

.generaDatanav td {
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    padding: 10px 5px;
    border-bottom: 2px solid #5b3834;
}

.generaDataselect {
    padding: 2px 10px;
    font-size: 16px;
    border-radius: 5px;
    letter-spacing: 2px;
    color: #4C2A20;
    font-weight: 800;
}

.showgeneraDatalist>td>div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 0 0 15px 15px;
    padding: 20px;
}

.generaDatalist>td {
    text-align: center;
    padding: 10px 20px;
    background-color: #BC8159;
    color: white;
    font-weight: 800;
}

.generaDatalist>td:first-child {
    border-radius: 10px 0 0 10px;
}

.generaDatalist>td:last-child {
    border-radius: 0 10px 10px 0;
}

.generaDatalist button {
    width: 100px;
    font-size: 18px;
    font-weight: 700;
    margin-left: 50px;
    border-radius: 5px 5px 5px 5px;
    background-color: #F3D2B3;
    color: #5b3727;

}

button.cancelbutton {
    font-size: 20px;
    font-weight: 700;
    height: fit-content;
    padding: 10px;
    ;
    border-radius: 10px;
    background-color: #CC6D6B;
    color: white;
    border: none;
}

.generaDatalist button {
    border: none;
}

.hide {
    display: none;
}

.Detail {
    border-collapse: collapse;
    width: 100%;
}

.Detail td {
    text-align: center;
    padding: 10px 5px;
}

.Detail>thead {
    border-bottom: 3px solid #BB7C51;
}

.Detail>tbody>tr>td:nth-of-type(1),
.Detail>tbody>tr>td:nth-of-type(2) {
    padding: 10px 5px 0 5px;
    /* background-color: aqua;
    border: 1px solid salmon; */
}

.Detail tr>td:nth-of-type(4) {
    width: fit-content;
    text-align: start;
    /* background-color: aqua; */
}

/* -----------------14..customOrderPage---------------------*/
.custombgcolor {
    width: 100%;
}

.customlOrderPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.customOrder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;

    /* background-color: rgb(54, 122, 122); */
}

.customnavbuttom {
    border-bottom: 5px white solid;
}

.customOrdernav {
    width: 100%;
    min-width: 700px;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: #BC8159;
}

.customOrdernav ul {
    display: flex;
}

.customOrdernav li {
    padding: 10px;
    margin: 5px;
    margin-right: 25px;
    list-style: none;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 5px;
    color: white;
}

.customOrdernav li:hover {
    border-bottom: 5px white solid;
}

.customvbuttom {
    border-bottom: 5px white solid;
}

/* * * * * * */
.customOrderDataArea {
    width: 100%;
    min-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3D2B3;
    border-radius: 10px;

    -webkit-box-shadow: 0px 0px 20px 0px var(--Brown04_BE); 
    box-shadow: 0px 0px 20px 0px var(--Brown04_BE);
}

.customOrderDataArea>table {
    width: 100%;
    margin: 10px 20px 20px 20px;
    border-collapse: collapse;
    border-radius: 10px;
}

.customOrderDataArea>table>tbody::before {
    content: "";
    padding: 2px;
}

/*訂單欄位*/
.customDatanav td {
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    padding: 10px 5px;
    border-bottom: 4px solid #5b3834;
    color: #5b3834;
    letter-spacing: 10px;
}

/*30.60.90日選單*/
.customDataselect {
    padding: 2px 10px;
    font-size: 16px;
    border-radius: 5px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #4C2A20;
}

/*訂單細節*/
.showcustomDatalist>td>div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F3E4;
    border-radius: 0 0 15px 15px;
    padding: 20px;
}

.customDatalist>td {
    text-align: center;
    padding: 10px 20px;
    background-color: #BC8159;
    color: white;
}

.customDatalist>td:first-child {
    border-radius: 10px 0 0 10px;
}

.customDatalist>td:last-child {
    border-radius: 0 10px 10px 0;
}

.customDatalist button {
    font-size: 20px;
    font-weight: 700;
    margin-left: 50px;
    border-radius: 8px 8px 8px 8px;
    background-color: #efd0b2;
    color: #7C5E38;
    border: none;
}


/*取消案件*/
.customcheckImgbutton {
    width: 100px;
    font-size: 20px;
    font-weight: 700;
    height: fit-content;
    padding: 5px;
    border-radius: 10px;
    background-color: #835b37;
    border: none;
    color: white;
    margin: 20px 20px 20px 20px;
}

.customcancelbutton {
    width: 100px;
    font-size: 20px;
    font-weight: 700;
    height: fit-content;
    padding: 5px;
    border-radius: 10px;
    background-color: #CC6E6E;
    border: none;
    color: white;
}

.hide {
    display: none;
}

.customDetail {
    border-collapse: collapse;
    width: 100%;
    color: #5a3311;
    /* border: 2px saddlebrown solid; */
}

.customDetail td {
    text-align: center;
    padding: 10px 5px;
}

.customDetail>thead {
    border-bottom: 2px solid black;
}

.customDetail>tbody>tr>td:nth-of-type(1),
.customDetail>tbody>tr>td:nth-of-type(2) {
    padding: 10px 5px 0 5px;
    /* background-color: aqua;
    border: 1px solid salmon; */
}

.customDetail tr>td:nth-of-type(4) {
    width: fit-content;
    text-align: start;
    /* background-color: aqua; */
}

/*14.customOrderPage結束*/