/* *{
    border: 1px solid rebeccapurple;
} */
.pic{
    width: 100%;
    /* background-color: rgb(30, 255, 0); */
    color: var(--Brown05_BEtxt);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin: 20px 0 0 0;
}

/*上半部分*/
.pic>table td:first-of-type{text-align: end; color: var(--Brown02);}/*td01*/
.pic>table td{padding: 0 0 5px 0;}/*td01*/


ul>p{margin: 0 0 10px 0;text-align: start;}
ul>li{
    list-style-position: inside;
    list-style-type: decimal;
    border-radius: 5px;
    /* background-color: rgba(240, 255, 255, 0.39); */
}




/*更新資料這邊*/
.customer>form>div:last-of-type{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    border-top: 3px solid var(--Brown05_BEtxt);
    /* background-color:aqua; */
    padding: 10px;
}