@import "main_ginnychen19.css";

body {
    width: 100vw;
    flex-direction: row;
    background-color: var(--YWhite);
}

#BEndleft {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex: 1;


    /* 水平置中 */
    justify-content: center;
    /* 垂直置中 */
    align-items: center;
}

#BEndright {
    flex: 4;
}

#PMcakeOrder {
    display: flex;
    flex-direction: column;

    padding: 5%;
}

#PMcakeOrder>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    border-bottom: 2px solid var(--Brown02);
}

#PMcakeOrder>div>h6 {
    margin: 0;
    height: fit-content;
    color: var(--Brown02);
}


/*=====================搜尋框====================*/
.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

.search-icon {
    border: none;
    position: absolute;
    right: 10px;
    width: 20px;
    height: 20px;
    background: url(../Source/SVG/search.svg) no-repeat center;
    background-size: contain;
}

.search-icon:hover {
    border-bottom: 2px solid var(--Brown02);
}

.search-input {
    width: 100%;
    border: 2px solid var(--Brown02);
    border-radius: 5px;
    padding: 2px 10px;

    color: var(--Brown02);
    font-family: "GenJyuuGothic-B";
}

/*================表單-每筆資料====================*/
.Order {
    text-align: center;
    font-family: "GenJyuuGothic-B";
    border-collapse: separate;
}

table>thead {
    font-size: var(--pContent);
    color: var(--Brown02);
}

tr>td {
    padding: 10px 0;

}

.Order select {
    background-color: transparent;
    border: none;
    color: var(--Brown02);
}

.Order>tbody:not(:first-of-type)::before {
    content: '';
    display: block;
    height: 15px;
}



/*==================list--每單資料====================*/
table>tbody>tr.list {
    font-size: var(--pSContent);
    color: var(--YWhite);
}

tr.list {
    background-color: var(--Brown04_BE);
}

tr.list>td:first-child {
    border-radius: 12px 0 0 12px;

}

tr.list>td:last-child {
    border-radius: 0 12px 12px 0;
}


/*=====================list--詳細按鈕====================*/
tr.list>td>button {
    border: none;
    border-radius: 5px;
    background-color: var(--Brown01);
    color: var(--YWhite);
}

tr.list>td>button:hover {
    -webkit-box-shadow: 0px 0px 10px 1px var(--Brown01);
    box-shadow: 0px 0px 10px 1px var(--Brown01);
}

tr.list>td>button.open {
    background-color: var(--YWhite);
    color: var(--Brown01);
}



/*===================detail頁設定====================*/
tr.detail>td {
    background-color: var(--GWhite);
    border: 2px solid var(--Brown04_BE);
    width: 100%;
    height: 250px;
    border-radius: 12px;
}

tr.detail>td>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    
    /* background-color: blue; */
}


/*=====================detail中訂購內容====================*/
.items {
    width: 40%;
    padding: 0 10px;
    /* background-color: aqua; */
}

.items>table {
    border-collapse: collapse;
    width: 100%;
}

.items>table>thead td {
    text-align: center;
    border-bottom: 3px solid var(--Brown05_BEtxt);
}

.items>table>tbody>tr>td {
    text-align: center;
    color: var(--Brown05_BEtxt);
    /* background-color: blueviolet; */
}

.items>table>tbody>tr>td>div {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;


}

.itemsSizeFlavorCount {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: blue; */
}

.itemsSizeFlavorCount>div {
    margin: 0 5px;

}


/*=====================detail中灰色區塊====================*/
.contact {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-around;
    margin: 0 0 0 10px;
    padding: 0 10px;
    border-radius: 12px;
    background-color: var(--Brown04_BE);
}

.contact_UpDown {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
    justify-content: space-around;
    margin: 0 0 0 10px;
    padding: 0 10px;
    border-radius: 12px;
    background-color: var(--Brown04_BE);
}


.contact>table.contactLeft,
.contact_UpDown>table.contactUP {
    color: var(--YWhite);
}

.contact>table.contactLeft tr,
.contact_UpDown>table.contactUP tr {
    vertical-align: top;

}

.contact>table.contactLeft td:nth-child(2),
.contact_UpDown>table.contactUP td:nth-child(2) {
    padding: 10px;
    text-align: start;
    min-width: 200px;

    /* background-color: aquamarine; */
}

.contact>table.contactRight,
.contact_UpDown>table.contactDOWN {
    color: var(--YWhite);
    text-align: start;
}

.contact>table.contactRight select {
    background-color: var(--YWhite);
}

.contact>table.contactRight div>div,
.contact_UpDown>table.contactDOWN div>div {
    padding: 10px;
    text-align: start;
    min-width: 200px;
    background-color: var(--YWhite);
    color: var(--Brown05_BEtxt);
    border-radius: 8px;
}




/*=================表單頁尾--頁數====================*/
tfoot>tr>td>div {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    margin: 10px 0 0 0;
}

tfoot>tr>td>div>div {
    width: 100%;
    display: flex;

    justify-content: center;
}

tfoot>tr>td>div>div button {
    font-family: "GenJyuuGothic-B";
    background-color: var(--Brown02);
    border: 2px solid transparent;
    border-radius: 5px;
    color: var(--YWhite);
    margin: 0 5px;
    padding: 3px 10px;
}

tfoot>tr>td>div>div button:hover {
    background-color: var(--YWhite);
    border: 2px solid var(--Brown02);
    color: var(--Brown02);

}

tfoot>tr>td>div>div>p {
    margin: 0;
    color: var(--Brown02);

}

#pageList {
    display: flex;
    /* background-color: aqua; */
}

#pageList p {
    margin: 0 1px;
    padding: 5px;
    color: var(--Brown02);
}

/*input按鈕設定*/

input[type="button"],
.BE_btn{
    padding: 3px 10px;
    background-color: var(--Brown04_BE);
    color: var(--YWhite);
    border-radius: 5px;
    border: 2px solid transparent;
}
input[type="button"]:hover,
.BE_btn:hover{
    box-sizing:border-box;
    border:2px solid var(--Brown04_BE) ;
    background-color: var(--YWhite);
    color: var(--Brown04_BE);
}

textarea{
    width: 100%;

    border-radius: 8px;
    border: 2px solid var(--Brown04_BE);
    color: var(--Brown05_BEtxt);  
}
.btn_red{
    padding: 3px 10px;
    background-color: var(--BTN_Red);
    color: var(--YWhite);
    border-radius: 5px;
    border: 2px solid transparent;
}
.btn_red:hover{
    border: 2px solid var(--BTN_Red);
    background-color: var(--YWhite);
    color: var(--BTN_Red);
}
/* * {
    border: 1px solid red;
} */

