@import "main_ginnychen19.css";

body {
    flex-direction: column;
    background-color: var(--Green02);

    background-image: radial-gradient(#77a56e 2px, transparent 2px),
        radial-gradient(#77a56e 2px, transparent 2px);
    background-size: calc(20 * 2px) calc(20 * 2px);
    background-position: 0 0, calc(10 * 2px) calc(10 * 2px);
}

#workShow {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;

    /* 水平置中 */
    justify-content: center;
    /* 垂直置中 */
    align-items: center;
    opacity: 100%;

    padding: 300px 0 0 0;
    margin: 0;
    /* transition: 1.0 ease; */

    background-color: var(--sky);
    overflow: hidden;
}

#workShow>div:first-of-type {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.showCZcakeDetail {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, 0.5);

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 5;
    
}

.showCZcakeDetail>figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
}

.showCZcakeDetail>figcaption>img {
    width: 400px;
    min-height: 400px;
    margin: 20px;
    border-radius: 20px;
    background-color: var(--Green01);
}

.showCZcakeDetail>div {
    position: relative;
    width: 840px;

    border-radius: 20px;
    padding: 20px;
    background-color: var(--YWhite);
}

.showCZcakeDetail>div>section {
    border-bottom: 3px dashed var(--Brown01);
    padding: 0 0 10px 0;
}
.showCZcakeDetail>div>price{
    width: 100%;
    padding: 10px 0 0 0;
    display: flex;
    justify-content: flex-end;
}
price>h6{color: var(--BTN_Red);}
.showCZcakeDetail>div>img:nth-of-type(1){
    height: 150px;
    position: absolute;
    top: -60px;
    right: -60px;
        
}
.showCZcakeDetail>div>img:nth-of-type(2){
    height: 150px;
    position: absolute;
    bottom: -60px;
    left: -50px;
    transform: rotate(-20deg);

}
.animate-zoom {
    animation: animatezoom 0.6s
}

@keyframes animatezoom {
    from {
        transform: scale(0.5)
    }

    to {
        transform: scale(1)
    }
}

.bg {
    position: relative;
    width: 100%;
    min-width: 1920px;
    height: 400px;
    z-index: 1;

    background-image: url(../Source/IMG/Key-Vision/middle.png);
    background-position: bottom;
    background-size: 50%;
    background-repeat: repeat-x;
    /* border: 1px solid rebeccapurple; */
}

.clouds {
    position: relative;
    display: flex;
    flex-direction: row;
    z-index: 0;
}

.cloud_01 {
    width: 400px;
    min-width: fit-content;
    height: 300px;


    background-image: url(../Source/IMG/Key-Vision/cloud1.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* border: 1px solid rebeccapurple; */

    position: absolute;
    left: -50px;
    top: -400px;
}

.cloud_02 {
    width: 300px;
    min-width: fit-content;
    height: 200px;


    background-image: url(../Source/IMG/Key-Vision/cloud2.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* border: 1px solid rebeccapurple; */

    position: absolute;
    left: 550px;
    top: -100px;
}

.cloud_03 {
    width: 200px;
    min-width: fit-content;
    height: 100px;


    background-image: url(../Source/IMG/Key-Vision/cloud3.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* border: 1px solid rebeccapurple; */

    position: absolute;
    left: 1100px;
    top: -250px;
}

.cloud_04 {
    width: 400px;
    min-width: fit-content;
    height: 300px;


    background-image: url(../Source/IMG/Key-Vision/cloud4.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* border: 1px solid rebeccapurple; */

    position: absolute;
    right: 0px;
    top: -100px;
}

cake {
    position: absolute;
    right: 10vw;
    bottom: 80px;
    z-index: 2;

    width: 500px;
    min-width: fit-content;
    height: 300px;

    background-image: url(../Source/IMG/Key-Vision/onlycake.png);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    /* border: 1px solid rebeccapurple; */

}



ul.CZcake {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: fit-content;
    height: 100px;

    position: relative;

    list-style: none;
    padding: 0;

    /* background-color: rgb(25, 141, 102); */
}

li.item_CZcake {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;

    border-radius: 50%;
    transition: 0.5s ease-in-out;
    /* background-color: blue; */
}

li.item_CZcake {
    margin: 0 0 0 40px;
}

li.item_CZcake:nth-of-type(2n-1) {
    top: -50px;
}

li.item_CZcake:nth-of-type(2n) {
    top: 50px;
}

li.item_CZcake>img {
    position: absolute;
    width: 180px;
    border-radius: 50%;
    /* border: 1px solid rebeccapurple; */

    background-image: url(../Style/IMG/mimisbakehouse-website-8-web.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;

}

fork {
    position: absolute;
    left: 120px;
    top: -20px;

    height: 80px;
    width: 80px;

    transform: rotate(40deg);
    z-index: 2;

    background-image: url(../Source/SVG/fork.svg);

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

.item_CZcake>p {
    position: absolute;
    top: 80px;
    text-align: center;
    color: var(--YWhite);
    z-index: 2;
}

color {
    position: absolute;
    top: 0px;

    width: 180px;
    height: 180px;

    border-radius: 50%;
    z-index: 1;
    background-color: rgba(126, 126, 126, 0.5);
}

#CZ_introduce {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 3;

    justify-content: center;
    align-items: center;

    padding: 0 10% 120px 10%;
    border-radius: 0 0 50px 50px;
    /* transition: 1.0 ease; */

    /* border: 1px  solid salmon; */
    background-color: var(--Green04);
    -webkit-box-shadow: 0px -40px 60px 10px var(--Green04);
    box-shadow: 0px -40px 60px 10px var(--Green04);
}


.Feature_ITD {
    width: 100%;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: blue;
}

.Feature_ITD>h4 {
    width: 100%;
    text-align: center;
    text-shadow: 0px 0px 5px var(--YWhite), 0px 0px 50px var(--YWhite), 1px 1px 10px var(--YWhite);

}

.Feature_ITD>p {
    width: 100%;
    text-align: center;
    font-size: 22px;
}

/* * {
    border: 1px solid red;
} */

.process_ITD {
    width: 100%;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: flex-start;
}

.staps {
    width: 100%;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
    color: var(--Brown01);
}

.stap {
    background-color: var(--BG_MOrange);
    border-radius: 10px;
}

.stap>p {
    margin: 10px 15px;
    text-align: justify;
}


.IsLogin,
.onLogin {
    position: absolute;
    min-width: 400px;
    bottom: -40px;
    background-color: var(--BG_MOrange);
    border-radius: 10px;
    padding: 20px;

    text-align: center;
    transition: 0.5s ease;
}

.IsLogin:hover {
    background-color: var(--YWhite);
    text-align: center;
}

.IsLogin h6 {
    width: 100%;
    height: 100%;
    padding: 5px 20px;
}

.IsLoginThen {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;

    justify-content: center;
    align-items: center;

    margin: 100px 8% 0 8%;
    /* background-color: aqua; */


}

.CZcakeform {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: flex-end;

    font-family: "GenJyuuGothic-B";
    font-size: var(--pContent);
    color: var(--YWhite);
    letter-spacing: 2px;
    text-align: end;
}

.CZcakeform>div,
.type02>section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 0;
    /* background-color: aqua; */
}

.CZcakeform>div.type02 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    /* background-color: blueviolet; */
}

.CZcakeform label,
.type02>section>label {
    flex: 1;
    font-family: "GenJyuuGothic-B";
    /* background-color: aquamarine; */
}


.CZcakeform input:not(input[type="submit"]),
.CZcakeform textarea,
.CZcakeform select {
    flex: 3;
    border-radius: 8px;
    background-color: var(--YWhite);
    color: var(--Brown02);
}

.CZcakeform>div>div,
.type02>section>div {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.CZcakeform>div>select {
    padding: 5px 0;
}

.type02>section>div>label {
    text-align: start;
    width: 100%;
    flex: 3;
    /* background-color: aqua; */
}

.type02 p {
    text-align: justify;
    letter-spacing: 3px;
    font-size: 0.9em;
    color: var(--BG_MOrange);
    margin: 0;
}


.CZcakeform>div>div>label {
    text-align: start;
    width: 100%;
    flex: 3;

    display: flex;
    justify-content: space-between;
}

input[type="number"] {
    max-width: 60px;
    padding: 0 0 0 10px;
}


.CZcakeform input#submit {
    margin: 20px 0;
    padding: 5px 10px;
    border-radius: 8px;
    border: 2px solid transparent;
    background-color: var(--Brown02);

    font-size: var(--pContent);
    color: var(--YWhite);
}

.CZcakeform input#submit:hover {
    border: 2px solid var(--Brown02);
    background-color: var(--YWhite);
    color: var(--Brown02);
}