/* *{
    border: 1px solid rgba(255, 0, 0, 0.37);
} */
.Order tr>td:nth-of-type(6){
    max-width:100px;
    /* background-color: aqua; */
}
.customer{
    width: 100%;
}

.customer>form {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.customer>form>div:first-child {
    width: 100%;
    /* background-color: blue; */
    display: flex;

    align-items: center;
    justify-content:space-around;
}
.customer>form>div:first-child td:first-of-type{text-align: end;}
.customer>form>div:first-child td:last-of-type{text-align: start;}

.customer>form>div:first-child>table:first-child{margin: 0 30px  0 0;}
.customer>form>div:first-child>table:last-child{} 


.customer>form>div:last-child,.pic{
    border-top: 2px solid var(--color05);
    padding: 10px 0 0 0;
    width: 100%;
    /* background-color: blue; */
    display: flex;

    align-items: center;
    justify-content: space-between;
}
ul>li{
    list-style-position: inside;
    list-style-type: decimal;
}
 .upbtn{ 
    background-color: pink;
        padding: 10px 0;
        display: flex;
        justify-content: flex-end;
} 