@import url("https://www.w3schools.com/w3css/4/w3.css");
/* @import "LoadingAni.css"; */
@import "./nav_ginnychen19.css";


@font-face {
    font-family: "GenJyuuGothic-L";
    src: url("../Source/ttc/GenSenRounded-L.ttc");
}

@font-face {
    font-family: "GenJyuuGothic-B";
    src: url("../Source/ttc/GenSenRounded-B.ttc")
}

@font-face {
    font-family: "GenJyuuGothic-H";
    src: url("../Source/ttc/GenSenRounded-H.ttc");
}

:root {
    --color01:#F7F8F8;
    --color02:#B5B6B6;
    --color03:#9FA0A0;
    --color04:#898989;
    --color05:#727171;
    --color06:#525152;

    --pLabel: 80px;
    --pBTitle: 58px;
    --pMTitle: 40px;
    --pSTitle: 28px;
    --pContent: 18px;
    --pSContent: 14px;
}

body{
    display:flex;
    background-color: var(--color02);
}


h1{
    font-family: "GenJyuuGothic-H";
    font-size: var(--pLabel);
}

h4{
    font-family: "GenJyuuGothic-H";
    font-size: var(--pBTitle);
    color: var(--color06);
    letter-spacing:20px;
}
h6{
    font-family: "GenJyuuGothic-B";
    font-size: var(--pSTitle);
    color: var(--color06);
    letter-spacing: 5px;
}

p{
    font-family: "GenJyuuGothic-L";
    font-size: var(--pContent);
    color: var(--color06);
    letter-spacing:2px;
}
a{
    text-decoration:none
}


.Our-newAD{
    width: 100%;
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    opacity: 100%;

    padding: 120px 0;
    margin: 80px 0 0 0;
    /* transition: 1.0 ease; */

    background-color: var(--color01); 
}



footer{
    width: 100%;
    min-width: 1440px;
    height: 280px;
    
    background-image: url(../Source/IMG/f001.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;

    z-index: 1;
    overflow: visible;   
    /* background-color: aqua; */
}