@import url("https://www.w3schools.com/w3css/4/w3.css");
@import "main.css";

body{
    flex-direction: column;
}

#permanentCake {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: flex-start;


    padding: 30px 15%;
    /* transition: 1.0 ease; */

    background-color: var(--color02);
}

/*=========左邊種類索引列========================================*/
.PMCake_table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    flex: 1;
    max-width: 200px;
    min-width: 160px;

    font-family: "GenJyuuGothic-L";
    font-size: var(--pContent);

    border-radius: 10px;

    background-color: var(--color01);

    overflow: hidden;
}

.PMCake_table>thead {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color05);

}

.PMCake_table>tbody {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    padding: 10px;
}


.PMCake_table>thead th {
    letter-spacing: 5px;

    padding: 10px 20px;
    color: var(--color01);
}

.PMCake_table>tbody>tr>td {
    letter-spacing: 3px;

    padding: 5px 20px;
    color: var(--color06);
}

/*========右邊蛋糕展示區========================================*/
/*-----標題設定------*/
.PMCake_show {
    display: flex;
    flex-direction: column;
    min-width: 500px;

    justify-content: center;
    align-items: center;

    flex: 3;

    margin: 0 0 0 70px;

    /* background-color: blueviolet; */
}

.PMCake_show_content {
    width: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    align-content: flex-start;

    /* background-color: aqua; */

    border-bottom: 2px solid var(--color04);
    margin: 0 0 30px 0;
}

.PMCake_show_content>h6,
.PMCake_show_content>p {
    margin: 0;
}
/*-----蛋糕列設定------*/
.PMCake_show_commodity {
    width: 100%;

    display: flex;
    flex-wrap: wrap;

    justify-content: center;

    /* background-color: rgb(16, 16, 59); */

}

.commodity_item {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    /* background-color: blue;  */

    padding: 0 20px;
    margin: 0 20px 20px 20px;
}

.commodity_item img {
    width: 150px;
    height: 150px;
    border-radius: 50%;

    /* background-image: url(../Style/IMG/mimisbakehouse-website-8-web.jpg),
                      linear-gradient( rgba(30, 75, 115, 1), rgba(255, 255, 255, 0)); */
    
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.commodity_item a {
    position: relative;
}

.commodity_item a>p {
    position: absolute;
    top: -15px;
    right: 25px;
    z-index: 2;
    color: var(--color01);
}

.commodity_item>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 10px 0 0 0;
    /* background-color: rgb(124, 194, 13); */
}

.commodity_item>div:nth-child(2)>p {
    margin: 0;
}

/*-----蛋糕列hover用------*/
fork{
    height: 50px;
    width: 50px;

    position: absolute;
    top: -70px;
    right: 0px;
    transform: rotate(40deg);
    z-index: 2;

    background-image: url(../Source/SVG/fork.svg);

    background-size: contain;
    background-position: center;
    background-repeat:no-repeat ;
    
}
color{
    position: absolute;
    top: -64px;
    right: 0px;

    width: 150px;
    height: 150px;

    border-radius: 50%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
}






