/* 字型引用 */
@font-face {
    font-family: 'GenJyuuGothic-Heavy';
    src: local("GenJyuuGothic-Heavy"),
        url('../fort/GenJyuuGothic-Heavy.woff') format("woff"),
        url('../fonts/GenJyuuGothic-Heavy.ttf') format("opentype"),
        url('../fonts/GenJyuuGothic-Heavy..eot') format("embedded-opentype");
}

/* 字型套用 */
body {
    font-family: GenJyuuGothic-Heavy;
}

nav{
    display: flex;
    justify-content: space-between;

}

#navlist>a{
    padding: 0px 10px;
}

/* #ChatBtn{
   
} */