/* 字型引用 */
@font-face {
    font-family: 'GenSenRounded-B';
    src: local("GenSenRounded-B"),
        url('../Source/ttc/GenSenRounded-B.ttc') format("woff"),
        url('../Source/ttc/GenSenRounded-B.ttc') format("opentype"),
        url('../Source/ttc/GenSenRounded-B.ttc') format("embedded-opentype");
}

/* 字型套用 */
body {
    font-family: GenSenRounded-B !important;
    overflow-x: hidden;
    color: #5c3a31;
}


.page {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    padding: 50px 150px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.speace_R {
    margin-right: 80px;
}

.Engtitle {
    /* color: white; */
    font-size: 1.5rem;
    color: transparent;
    -webkit-text-stroke: 0.7px rgb(255, 255, 255);
    font-weight: bold;
    letter-spacing: 0.05em;
}

.h1title {
    font-size: 3rem;
    color: #fff;
    margin-bottom: 30px;
}


nav {
    display: flex;
    justify-content: space-between;
    height: 70px;
    line-height: 70px;
    background-color: #D0EBF6;
    padding: 0 30px;
}

nav span {
    margin-left: 10px;
    color: #8C623E;
    font-size: 1.3rem;
}

#navlist>a {
    /* padding: 0px 10px; */
    margin-right: 30px;
    text-decoration: none;
    color: #8C623E;
    font-size: 1.3rem;
}

#navlist>svg {
    padding: 0px 10px;
    width: 50px;
    color: #8C623E;
}

#Product_C p {
    margin-left: 80px;
}

#ChatBtn {
    background-image: url(https://dummyimage.com/100x100/2f68ed/fff);
    background-size: cover;
    position: fixed;
    right: 0;
    bottom: 40px;
    height: 100px;
    width: 100px;
}

section {
    background-color: #99BF73;
}

/* ---------------NEWS----------------- */
#carouselExampleControls {
    width: 100%;
    margin-bottom: 80px;
}

#News_card {
    width: 85%;
    height: 250px;
    display: flex;
}
/* -------------parallax----------------- */
#parallax{
   overflow: hidden;
    z-index: -5;
    height: 500px;
    position:relative
    

}

#parallax_img{
    position:absolute;
    top: -200px;
    background-image: url(../Source/IMG/parallax1.png);
    background-size: 100% auto;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    transition: transform 0.5s ease-out;
    height: 1000px;
    z-index: -5;
    
}


/* ---------about--------------------- */
#About>div{
    display: flex;
    padding:30px;
}

#About div{
    margin-right:50px;
}

/* ------------------------------------- */
#mcake {
    display: flex;
    align-items: center;
    color: #F6F3E4;
    font-size: 1.2rem;
}

#mcake>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

#mcake>div img {
    width: 250px;
    border-radius: 20px;
    margin-bottom: 30px;
    transition: transform 0.3s ease-in-out;
}

#mcake>div img:hover {
    transform: scale(1.1) translateY(-5px);

}

/* -------------------------------------------- */
#Contact {
    background-image: url(../Source/IMG/Key-Vision/middle_long.png);
    background-size: 100% auto;
    background-position: center;
    background-attachment: fixed;
    z-index: -5;

}

/* ---------------跑馬燈----------------- */
#marquee {
    margin-bottom: 100px;
}

.box {
    position: relative;
    width: 100vw;
    height: 350px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.list {
    left: 0px;
    display: flex;
    position: absolute;
}

.photo {
    width: 300px;
    height: 300px;
    border: 3px solid red;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footerLogo{
    margin-right:30px;
}


#icon>div>a>img {
    width: 50px;
    margin:0px 5px;
}

#icon>div{
    margin: 20px 0px;
}

iframe {
    margin: 50px;
    border-radius: 10px;
}