/* 字型引用 */
@font-face {
    font-family: 'GenSenRounded-B';
    src: local("GenSenRounded-B"),
        url('../ttc/GenSenRounded-B.ttc') format("woff"),
        url('../ttc/GenSenRounded-B.ttc') format("opentype"),
        url('../ttc/GenSenRounded-B.ttc') format("embedded-opentype");
}

/* 字型套用 */
body {
    font-family: GenSenRounded-B;
}

/* --------------------nav--------------- */
nav {
    display: flex;
    justify-content: space-between;
    height: 50px;
    line-height: 50px;
}

#navlist>a {
    margin-right: 30px;
}

#navlist>img {
    padding: 0px 10px;
}

/* -----------------section------------- */

section {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* -----------step--------------- */

#Step {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

#Step>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 40px 5px 30px;
}

.circle {
    width: 75px;
    height: 75px;
    border-radius: 75px;
    background-color: rgb(255, 223, 109);
    border: 5px solid rgb(255, 255, 255);
    color: white;
    text-align: center;
    line-height: 80px;

    font-size: 2em;
}

/* ----------------shopping--------------------- */

#Shopping_body {
    background-color: rgb(79, 80, 78);
    padding: 50px;
    display: flex;
    flex-direction: column;
}

#ShoppingList {
    width: 80vw;
    background-color: aliceblue;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    margin: 20px 0;
}

#ShoppingList td:nth-child(1) {
    width: 15vw;
}

#ShoppingList td:nth-child(2) {
    width: 10vw;
}

#ShoppingList td:nth-child(3) {
    width: 20vw;
}

#Shopping_body>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

#transport {
    background-color: beige;
    border-radius: 10px;
    padding: 15px;
}

th {
    border-bottom: 2px solid rgb(81, 58, 22);
    height: 40px;
    font-size: 1.2em;
}

td {
    height: 150px;
}



#Totle {
    width: 18vw;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0px;
    padding: 20px;
}

#Totle h1 {
    color: red;
}

.btn {
    border-radius: 10px;
    padding: 20px;
    border: none;
    font-size: 1.2em;
}

/* ---------------------------------------- */
/* page2  start */
.text_W {
    width: 100%;
    margin-top: 15px;
}

#Shopping_Check>div {
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: palevioletred;
    padding: 30px 20px;
    border-radius: 10px;
}

#Shopping_Check div {
    margin: 10px 20px;
}

#Shopping_order {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 50px;

}

#Shopping_order>div {
    display: flex;
    width: 50%;
    flex-direction: column;
    background-color: rgb(238, 226, 118);
    padding: 30px 20px;
    border-radius: 10px;
}

#Shopping_order div {
    margin: 10px 20px;
}

#address>div {
    width: 100%;
}

#address input:nth-child(1){
    width: 20%;
}

#address input:nth-child(2){
    width: 75%;
}

#Page_note>div{
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 30px 20px;
    border-radius: 10px;
    

}

#note {
    width: 100%;
    height: 50px;
    margin-top: 15px;
}

.title {
    font-size: 1.5em;
    margin-right: 20px;

}


#hit {
    padding-top: 50px;
}

#hit ul {
    padding: 8px 0 0 0px;
}

#hit li {
    margin: 15px;

}

footer {
    width: 100%;
    background-color: rgb(110, 186, 227);
    height: 300px;
}