/* 字型引用 */
@font-face {
    font-family: 'GenSenRounded-B';
    src: local("GenSenRounded-B"),
        url('../ttc/GenSenRounded-B.ttc') format("woff"),
        url('../ttc/GenSenRounded-B.ttc') format("opentype"),
        url('../ttc/GenSenRounded-B.ttc') format("embedded-opentype");
}

/* 字型套用 */
body {
    font-family: GenSenRounded-B;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 50px;
    line-height: 50px;
}

#navlist>a {
    margin-right: 30px;
}

#navlist>img {
    padding: 0px 10px;
}

section {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;


}

#Shopping_body {
    background-color: rgb(79, 80, 78);
    padding: 50px;
    display: flex;
    flex-direction: column;
}

#ShoppingList {
    width: 80vw;
    background-color: aliceblue;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    margin: 20px 0;
}

#ShoppingList td:nth-child(1) {
    width: 15vw;
}

#ShoppingList td:nth-child(2) {
    width: 10vw;
}

#ShoppingList td:nth-child(3) {
    width: 20vw;
}

#Shopping_body>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}


#Totle {
    width: 18vw;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0px;
    padding: 20px;
}

#Totle h1 {
    color: red;
}

.btn {
    border-radius: 10px;
    padding: 20px;
    margin: 0 10px;
    border: none;
    font-size: 1.2em;
}

footer {
    width: 100%;
    background-color:burlywood;
    height: 300px;
}