<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="js/jquery-3.6.0.js"></script>
</head>
<body>
    <a href="C01">1</a>
    <div>
        主題蛋糕頁
    </div>
    <div>聖誕蛋糕</div>
    <input type="radio" name="cakeSize" value="cm0106" checked> 6 吋<br>
    <input type="radio" name="cakeSize" value="cm0108"> 8 吋<br>
    <select name="" id="number">
        <option value="1">1</option>
        <option value="2">2</option>
    </select>
    <button id="buy">加入購物車</button>
    <script>
        $('#buy').on('click',function(){
            var num = parseInt($('#number').val()) ;
            var cId = $("input[type=radio]:checked").val();
            var cart = {
                name: cId,
                quantity: num,
            }
            var newcart = JSON.parse(localStorage.getItem("carts"))

            if (localStorage.carts === "[]") {//如果是空陣列
                console.log("是空陣列，將新物件推進陣列")
                var newcarts = []
                newcarts.push(cart)
                localStorage.setItem("carts", JSON.stringify(newcarts))
                console.log(localStorage)
            } else if (newcart) {//如果陣列裡有物件
                // console.log("陣列裡有物件，判斷物件名是否有相同")

                var carts = JSON.parse(localStorage.getItem("carts")) //現有資料

                var test = $.map(carts, function (item, index) {
                    return item.name;
                }).indexOf(cart.name);

                if (test === -1) {//判斷如果有相同物件
                    console.log("沒有相同物件，將新物件推入陣列中")
                    carts.push(cart)
                    localStorage.setItem("carts", JSON.stringify(carts))
                    console.log(localStorage)
                 
                } else {//判斷如果沒有相同物件
                    console.log("有相同物件，物件內數量加上新物件數量")
                    carts[test].quantity += cart.quantity
                    localStorage.setItem("carts", JSON.stringify(carts))
                    console.log(localStorage)
                }

            } else {//如果連陣列都沒有
                console.log("建立空陣列，將新物件推入陣列中")
                var newcarts = []
                newcarts.push(cart)
                localStorage.setItem("carts", JSON.stringify(newcarts))
                console.log(localStorage)
            }
        })
    </script>
</body>
</html>