/* -----------------08-14預留的top footer slideshow----------------------- */
.navtop {
    height: 100px;
    background-color: pink;
}

.slideshow-container {
    height: 400px;
    background-color: palevioletred;
}

.footer {
    height: 200px;
    background-color: green;
}

/* -----------------08.IntroStuffing----------------------- */
/*設定寬度只要60% 以及置中和圓角*/
.stuffIngred {
    background-color: rgb(201, 208, 208);
    margin-top: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px 15px 15px 15px;
}

.stuffingtitle{
    margin-left: 45%;
}

.stuffingtitle img{
    width: 20%;
    height: 20%;
    
}

.ingredients{
    margin-left: 45%;
}
.ingredients img{
    width: 20%;
    height: 20%;
}

/*設定內餡和食材文字置中*/
/* .stuffingtitle h3{
    display: block;
    width: 50px;
    text-align: center;
    background-color: rgb(231, 211, 211);
    margin-left: auto;
    margin-right: auto;
} */

.cakeboxarea {
    margin-top: 20px;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cakebox{
    width: 35%;
    height: 35%;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 30px;
    background-color: rgb(135, 135, 135);
    box-shadow:  rgb(86, 86, 86) 0px 10px 0px 0px;
}

.cakeboximg {
    padding: 5px 5px 0px 5px;
    background-size: contain;
    
}

.cakeboximg img {
    width: 100%;
    height: auto;
}

.cakeboxWord
 {
    width: 99%;
    height: 60%;
    background-color:rgb(240, 231, 181);
    border-radius: 5px 5px 5px 5px;
    padding: 2px 2px 2px 2px;
    font-size: 25px;
    font-weight: 700;
    font-family: 微軟正黑體;
    /* z-index: 1; */
}

.ingredientsflex ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.ingredientspit {
    width: 300px;
    height: 300px;
    padding: 2px 2px 2px 2px;
    background-color: blue;
    border-radius: 20px 20px 20px 20px ;
    box-shadow:rgb(86, 86, 86) 0px 10px 0px 0px;
    margin-bottom: 30px;
}


/*08.IntroStuffingr 結束*/


/* -----------------09.commonQA----------------------- */

button#expand {
    position: absolute;
    right: 0;
}

.qicon img,
.addicon img {
    width: 25px;
}

.qa_area {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    padding: 10px;
    background-color: rgb(223, 242, 236);
    border-radius: 20px 20px 20px 20px;
}

.faq_question {
    font-weight: bold;
    color: #474747;
    cursor: pointer;
}


.faq_question {
    margin-top: 20px;
    margin-bottom: 20px;
}

/*09.commonQA 結束*/

/* -----------------10.memberLogin---------------------*/

/*會員登入文字置中*/
.loginWord {
    font-size: 30px;
    letter-spacing: 20px;
    text-align: center;
}

/*登入位置置中*/
.memberDatabox {
    border: 1px rgb(235, 245, 236) solid;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 30px;
    width: 600px;
    height: 300px;
    background-color: antiquewhite;
    border-radius: 10px 10px 10px 10px;
}

.memberDatamun {
    margin-top: 30px;
    width: 600px;
    font-size: 24px;
    font-family: 微軟正黑體;
    font-weight: 900;
    margin-left: 100px;
}

.memberDatapass {
    width: 550px;
    font-size: 24px;
    font-family: 微軟正黑體;
    font-weight: 900;
    margin-left: 100px;
    margin-top: 20px;
}

.memberDatamun input,
.memberDatapass input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    font-size: 20px;
    line-height: 1.5;
    border-radius: 10px 10px 10px 10px;
}

.aprob {
    margin-left: 150px;
    margin-top: 20px;
    font-size: 18px;
}

.loginbutton {
    margin-top: 10px;
    width: 100px;
    height: 40px;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px 10px 10px 10px;
    margin-left: 120px;
}

/*10.memberLogin結束*/

/* -----------------11.memberSignUp---------------------*/
.signuparea {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    width: 1000px;
    background-color: antiquewhite;
}

.member_title {
    margin-top: 30px;
    width: 350px;
    font-size: 30px;
    text-align: center;
    letter-spacing: 5px;
    margin-left: auto;
    margin-right: auto;
}


.emailarea {
    width: 550px;
    font-size: 24px;
    font-family: 微軟正黑體;
    font-weight: 900;
    margin-left: auto;
    margin-right: auto;
}

.emailarea input {
    background-color: aquamarine;
    margin-top: 20px;
    width: 400px;
    line-height: 2;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px 10px 10px 10px;
    border: white 1px solid;
}

.passwordarea {
    width: 500px;
    font-size: 24px;
    font-family: 微軟正黑體;
    font-weight: 900;
    margin-left: auto;
    margin-right: auto;
}

.passwordarea input {
    background-color: aquamarine;
    margin-top: 20px;
    width: 400px;
    line-height: 2;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px 10px 10px 10px;
    border: white 1px solid;
}

.password2area {
    width: 600px;
    font-size: 24px;
    font-family: 微軟正黑體;
    font-weight: 900;
    margin-left: auto;
    margin-right: auto;
}

.password2area input {
    background-color: aquamarine;
    margin-top: 20px;
    width: 400px;
    line-height: 2;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px 10px 10px 10px;
    border: white 1px solid;
}

.passmessege {
    margin-left: 300px;
    font-size: 20px;
    color: red;
}

.namearea {
    width: 500px;
    font-size: 24px;
    font-family: 微軟正黑體;
    font-weight: 900;
    margin-left: auto;
    margin-right: auto;
}

.namearea input {
    background-color: aquamarine;
    margin-top: 20px;
    width: 400px;
    line-height: 2;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px 10px 10px 10px;
    border: white 1px solid;
}

.birthdayarea {
    width: 500px;
    font-size: 24px;
    font-family: 微軟正黑體;
    font-weight: 900;
    margin-left: auto;
    margin-right: auto;
}

.birthdayarea input {
    background-color: aquamarine;
    margin-top: 20px;
    width: 400px;
    line-height: 2;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px 10px 10px 10px;
    border: white 1px solid;
}

.sexarea {
    width: 500px;
    font-size: 24px;
    font-family: 微軟正黑體;
    font-weight: 900;
    margin-left: auto;
    margin-right: auto;
}

.sexarea input {
    background-color: rgb(8, 10, 126);
    margin-top: 20px;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px 10px 10px 10px;
    border: white 1px solid;
}

.phonearea {
    width: 500px;
    font-size: 24px;
    font-family: 微軟正黑體;
    font-weight: 900;
    margin-left: auto;
    margin-right: auto;
}

.phonearea input {
    background-color: aquamarine;
    margin-top: 20px;
    width: 400px;
    line-height: 2;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px 10px 10px 10px;
    border: white 1px solid;
}


.addressarea {
    width: 600px;
    font-size: 24px;
    font-family: 微軟正黑體;
    font-weight: 900;
    margin-left: auto;
    margin-right: auto;
}


.addressarea input {
    background-color: aquamarine;
    margin-top: 20px;
    width: 400px;
    height: 100px;
    line-height: 2;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px 10px 10px 10px;
    border: white 1px solid;
}

.onlyyesarea {
    width: 600px;
    font-size: 24px;
    font-family: 微軟正黑體;
    font-weight: 900;
    margin-top: 50px;
}

.onlyyesarea input {
    background-color: aquamarine;
    margin-top: 20px;
    margin-left: 400px;
    /* width: 400px; */
    /* line-height: 1; */
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px 10px 10px 10px;
    border: rgb(138, 6, 6) 1px solid;
}


.buttonarea {
    width: 150px;
    margin-left: auto;
    margin-right: auto;

}

.buttonarea button {
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 20px 20px 20px 20px;
    width: 120px;
    height: 60px;
    font-size: 24px;
    font-family: 微軟正黑體;
    border: rgb(234, 227, 22);
    font-weight: 900;
}

/*11.memberSignUp結束*/



/* -----------------12.memberProfilep---------------------*/

.profilnav {
    margin-top: 30px;
    width: 1000px;
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(127, 127, 137);
    margin-left: auto;
    margin-right: auto;
}

.profilnav ul {
    display: flex;
}

.profilnav li {
    padding: 10px 10px 10px 10px;
    margin: 5px 5px 5px 5px;
    margin-right: 25px;
    list-style: none;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 5px;
    color: white;
}

.profilnav li:hover {
    border-bottom: 10px white solid;
}

.profileparea {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    width: 1000px;
    background-color: antiquewhite;
}

.profilnumberarea {
    width: 550px;
    font-size: 24px;
    font-family: 微軟正黑體;
    font-weight: 900;
    margin-left: 205px;
    margin-right: auto;
}

.profilnumberarea input {
    background-color: aquamarine;
    margin-top: 20px;
    width: 400px;
    line-height: 2;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px 10px 10px 10px;
    border: white 1px solid;
}


.profilemailarea {
    width: 550px;
    font-size: 24px;
    font-family: 微軟正黑體;
    font-weight: 900;
    margin-left: auto;
    margin-right: auto;
}

.profilemailarea input {
    background-color: aquamarine;
    margin-top: 20px;
    width: 400px;
    line-height: 2;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px 10px 10px 10px;
    border: white 1px solid;
}

.profilpasswordarea {
    width: 500px;
    font-size: 24px;
    font-family: 微軟正黑體;
    font-weight: 900;
    margin-left: auto;
    margin-right: auto;
}

.profilpasswordarea input {
    background-color: aquamarine;
    margin-top: 20px;
    width: 400px;
    line-height: 2;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px 10px 10px 10px;
    border: white 1px solid;
}

.profilpassword2area {
    width: 600px;
    font-size: 24px;
    font-family: 微軟正黑體;
    font-weight: 900;
    margin-left: auto;
    margin-right: auto;
}

.profilpassword2area input {
    background-color: aquamarine;
    margin-top: 20px;
    width: 400px;
    line-height: 2;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px 10px 10px 10px;
    border: white 1px solid;
}

.profilpassmessege {
    margin-left: 300px;
    font-size: 20px;
    color: red;
}

.profilnamearea {
    width: 500px;
    font-size: 24px;
    font-family: 微軟正黑體;
    font-weight: 900;
    margin-left: auto;
    margin-right: auto;
}

.profilnamearea input {
    background-color: aquamarine;
    margin-top: 20px;
    width: 400px;
    line-height: 2;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px 10px 10px 10px;
    border: white 1px solid;
}

.profilbirthdayarea {
    width: 500px;
    font-size: 24px;
    font-family: 微軟正黑體;
    font-weight: 900;
    margin-left: auto;
    margin-right: auto;
}

.profilbirthdayarea input {
    background-color: aquamarine;
    margin-top: 20px;
    width: 400px;
    line-height: 2;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px 10px 10px 10px;
    border: white 1px solid;
}

.profilsexarea {
    width: 500px;
    font-size: 24px;
    font-family: 微軟正黑體;
    font-weight: 900;
    margin-left: auto;
    margin-right: auto;
}

.profilsexarea input {
    background-color: rgb(8, 10, 126);
    margin-top: 20px;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px 10px 10px 10px;
    border: white 1px solid;
}

.profilphonearea {
    width: 500px;
    font-size: 24px;
    font-family: 微軟正黑體;
    font-weight: 900;
    margin-left: auto;
    margin-right: auto;
}

.profilphonearea input {
    background-color: aquamarine;
    margin-top: 20px;
    width: 400px;
    line-height: 2;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px 10px 10px 10px;
    border: white 1px solid;
}


.profiladdressarea {
    width: 600px;
    font-size: 24px;
    font-family: 微軟正黑體;
    font-weight: 900;
    margin-left: auto;
    margin-right: auto;
}


.profiladdressarea input {
    background-color: aquamarine;
    margin-top: 20px;
    width: 400px;
    height: 100px;
    line-height: 2;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px 10px 10px 10px;
    border: white 1px solid;
}



.profilrevise {
    width: 150px;
    margin-left: 400px;
    margin-right: auto;

}

.profilrevise button {
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 20px 20px 20px 20px;
    width: 200px;
    height: 60px;
    font-size: 24px;
    font-family: 微軟正黑體;
    border: rgb(234, 227, 22);
    font-weight: 900;
    background-color: cadetblue;
}

/*12.memberProfile*/

/* -----------------13.generalOrderPage---------------------*/
.generalOrdernav {
    margin-top: 30px;
    width: 1000px;
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(127, 127, 137);
    margin-left: auto;
    margin-right: auto;
}

.generalOrdernav ul {
    display: flex;
}

.generalOrdernav li {
    padding: 10px 10px 10px 10px;
    margin: 5px 5px 5px 5px;
    margin-right: 25px;
    list-style: none;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 5px;
    color: white;
}

.generalOrdernav li:hover {
    border-bottom: 10px white solid;
}

.Ordernavbuttom {
    border-bottom: 10px white solid;
}

/* * * * * * */
.generalOrderDataArea {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    background-color: rgb(203, 190, 215);
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 20px;
    padding: 10px 10px 10px 10px;
}

.showgeneraDatalist2 {
    font-size: 18px;
    font-family: 微軟正黑體;
    font-weight: 500;

}

.remark {
    width: 120px;
    height: 30px;
    text-align: center;
    font-size: 16px;
}

.generaDatanav td {
    font-size: 20px;
    letter-spacing: 10px;
    font-weight: 900;
    /* text-align: center; */
    padding: 3px 3px 3px 3px;
    margin: 2px 2px 2px 2px;
    font-family: 微軟正黑體;
}

.generaDataselect {
    width: 200px;
    height: 40px;
    font-size: 16px;
    border-radius: 10px 10px 10px 10px;
    letter-spacing: 5px;
}

.generaDatalist {
    font-size: 20px;
    font-family: 微軟正黑體;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 3px seashell solid;
}

.generaDatalist button {
    font-size: 20px;
    font-weight: 700;
    margin-left: 50px;
    width: 120px;
    height: 40px;
    border-radius: 15px 15px 15px 15px;
    background-color: rgb(142, 140, 137);
    color: white;
}

.cancelbutton button {
    font-size: 20px;
    font-weight: 700;
    margin-left: 50px;
    width: 120px;
    height: 40px;
    border-radius: 15px 15px 15px 15px;
    background-color: rgb(86, 85, 83);
    color: white;
}

.showgeneraDatalist {
    font-size: 20px;
    margin-right: 30px;
    margin-left: 50px;
}

.showgeneraDatalist td {
    padding: 20px 20px 0px 20px;
    border-bottom: 5px;
    border-bottom: 5px rgb(35, 35, 34) solid;
}

.showgeneraDatalist button {
    font-size: 16px;
    font-weight: 700;
    margin-left: 50px;
    width: 100px;
    height: 30px;
    border-radius: 15px 15px 15px 15px;
    background-color: rgb(190, 124, 23);
    color: white;
}

.hide {
    display: none;
}


/*13.generalOrderPage*/


/* -----------------14.customOrderPage---------------------*/
.customOrdernav {
    margin-top: 30px;
    width: 1000px;
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(127, 127, 137);
    margin-left: auto;
    margin-right: auto;
}

.customOrdernav ul {
    display: flex;
}

.customOrdernav li {
    padding: 10px 10px 10px 10px;
    margin: 5px 5px 5px 5px;
    margin-right: 25px;
    list-style: none;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 5px;
    color: white;
}

.customOrdernav li:hover {
    border-bottom: 10px white solid;
}

/* * * * * * */
.customderDataArea {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    background-color: rgb(203, 190, 215);
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 30px;
    padding: 20px 20px 20px 20px;
}

.showcustomDatalist2 {
    font-size: 20px;
    font-family: 微軟正黑體;
    font-weight: 500;
}


.customremark {
    width: 120px;
    height: 100px;
    text-align: center;
    font-size: 16px;
}

.customDatanav td {
    font-size: 25px;
    letter-spacing: 10px;
    font-weight: 900;
    /* text-align: center; */
    padding: 3px 3px 3px 3px;
    margin: 2px 2px 2px 2px;
    font-family: 微軟正黑體;
}

.customDataselect {
    width: 200px;
    height: 40px;
    font-size: 18px;
    border-radius: 10px 10px 10px 10px;
    letter-spacing: 5px;
}

.customDatalist {
    font-size: 24px;
    font-family: 微軟正黑體;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 3px seashell solid;
}

.customDatalist button {
    font-size: 20px;
    font-weight: 700;
    margin-left: 50px;
    width: 120px;
    height: 40px;
    border-radius: 15px 15px 15px 15px;
    background-color: rgb(142, 140, 137);
    color: white;
}

.customviewImage {
    font-size: 20px;
    font-weight: 700;
    margin-left: 50px;
    width: 120px;
    height: 40px;
    border-radius: 15px 15px 15px 15px;
    background-color: rgb(86, 85, 83);
    color: white;
}

.cancelbutton button {
    font-size: 20px;
    font-weight: 700;
    margin-left: 50px;
    width: 120px;
    height: 40px;
    border-radius: 15px 15px 15px 15px;
    background-color: rgb(86, 85, 83);
    color: white;
}

.showcustomDatalist {
    font-size: 20px;
    margin-right: 30px;
    margin-left: 50px;
}

.showcustomDatalist td {
    padding: 20px 20px 0px 20px;
    border-bottom: 5px rgb(23, 22, 22) solid;
}

.showcustomDatalist3 button {
    font-size: 20px;
    font-weight: 700;
    margin-left: 50px;
    width: 120px;
    height: 40px;
    border-radius: 15px 15px 15px 15px;
    background-color: rgb(86, 85, 83);
    color: white;
}

.customhide {
    display: none;
}

/*14.customOrderPage*/