<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/jquery-3.6.0.js"></script>
    <title>新增表單</title>
</head>
<body>
    <form id="formAdd">
        藥局名稱: <input type="text" name="name"><br>
        電話: <input type="text" name="phone"><br>
        地址: <input type="text" name="address"><br>
        成人口罩庫存: <input type="text" name="adult_mask"><br>
        孩童口罩庫存: <input type="text" name="child_mask"><br>
        <button type="button" id="submit">新增</button>
    </form>
  
    <script>
        $('#submit').on('click', function() {
        
            var data = $('#formAdd').serializeArray(); //合併成陣列

            var JSONData = {};
            for (index in data) {
                JSONData[data[index].name] = data[index].value;  //做成新物件
            }
                     
            $.ajax({
                url: "/insert", // mask.js 的 /insert
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(JSONData),
                success: function(res) {
                    alert(res);
                    location.href = '/';
                },
                error: function() {
                    alert("Add 系統錯誤!");
                }
            })
        })
    </script>
</body>
</html>
