<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>菓季-客製蛋糕</title>
    <script src="js/jquery-3.6.0.js"></script>
    <link rel="stylesheet" href="css/main_ginnychen19.css">
    <link rel="stylesheet" href="css/gameCanvas.css">
    <link rel="stylesheet" href="css/CustomizationCake.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

</head>

<body>
    <nav>
        <div>
            <a href="/"><img src="../Source/IMG/Logo.png" alt="Logo"></a>
            <a href="/">
                <p>菓季</p>
            </a>
        </div>
        <div id="navlist">
            <a href="/C01/0">
                <p>主題蛋糕</p>
            </a>
            <a href="/C02">
                <p>客製蛋糕</p>
            </a>
            <a href="/C03">
                <p>餡料食材介紹</p>
            </a>
            <a href="/C04">
                <p>常見問題</p>
            </a>
            <% if(!session.user) { %>
                <a href="/C05"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                        class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                    </svg></a>
                <% }else if(session.user.rights){%>
                    <a href="/C05_2/1"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                            fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                        </svg></a>
                    <%}else{%>
                        <a href="/C05_4/1"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                            </svg></a>
                        <%}%>
                            <a href="/C06"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                    fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                                    <path
                                        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                </svg></a>
        </div>
    </nav>
    <div id="LINE_QR" class="animate__animated ">
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-line"
                viewBox="0 0 16 16">
                <path
                    d="M8 0c4.411 0 8 2.912 8 6.492 0 1.433-.555 2.723-1.715 3.994-1.678 1.932-5.431 4.285-6.285 4.645-.83.35-.734-.197-.696-.413l.003-.018.114-.685c.027-.204.055-.521-.026-.723-.09-.223-.444-.339-.704-.395C2.846 12.39 0 9.701 0 6.492 0 2.912 3.59 0 8 0ZM5.022 7.686H3.497V4.918a.156.156 0 0 0-.155-.156H2.78a.156.156 0 0 0-.156.156v3.486c0 .041.017.08.044.107v.001l.002.002.002.002a.154.154 0 0 0 .108.043h2.242c.086 0 .155-.07.155-.156v-.56a.156.156 0 0 0-.155-.157Zm.791-2.924a.156.156 0 0 0-.156.156v3.486c0 .086.07.155.156.155h.562c.086 0 .155-.07.155-.155V4.918a.156.156 0 0 0-.155-.156h-.562Zm3.863 0a.156.156 0 0 0-.156.156v2.07L7.923 4.832a.17.17 0 0 0-.013-.015v-.001a.139.139 0 0 0-.01-.01l-.003-.003a.092.092 0 0 0-.011-.009h-.001L7.88 4.79l-.003-.002a.029.029 0 0 0-.005-.003l-.008-.005h-.002l-.003-.002-.01-.004-.004-.002a.093.093 0 0 0-.01-.003h-.002l-.003-.001-.009-.002h-.006l-.003-.001h-.004l-.002-.001h-.574a.156.156 0 0 0-.156.155v3.486c0 .086.07.155.156.155h.56c.087 0 .157-.07.157-.155v-2.07l1.6 2.16a.154.154 0 0 0 .039.038l.001.001.01.006.004.002a.066.066 0 0 0 .008.004l.007.003.005.002a.168.168 0 0 0 .01.003h.003a.155.155 0 0 0 .04.006h.56c.087 0 .157-.07.157-.155V4.918a.156.156 0 0 0-.156-.156h-.561Zm3.815.717v-.56a.156.156 0 0 0-.155-.157h-2.242a.155.155 0 0 0-.108.044h-.001l-.001.002-.002.003a.155.155 0 0 0-.044.107v3.486c0 .041.017.08.044.107l.002.003.002.002a.155.155 0 0 0 .108.043h2.242c.086 0 .155-.07.155-.156v-.56a.156.156 0 0 0-.155-.157H11.81v-.589h1.525c.086 0 .155-.07.155-.156v-.56a.156.156 0 0 0-.155-.157H11.81v-.589h1.525c.086 0 .155-.07.155-.156Z" />
            </svg>
            <p id="close">X</p>
        </div>
        <img src="/Source/IMG/LINE.jpg" alt="">
        <p>請在LINE應用程式上開啟「好友」分頁，點選畫面右上方用來加入好友的圖示，
            接著點選「行動條碼」，然後掃描此行動條碼。</p>
    </div>
    <div id="Btnlist">
        <div id="Line" class="mainbtn Line">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-line"
                viewBox="0 0 16 16">
                <path
                    d="M8 0c4.411 0 8 2.912 8 6.492 0 1.433-.555 2.723-1.715 3.994-1.678 1.932-5.431 4.285-6.285 4.645-.83.35-.734-.197-.696-.413l.003-.018.114-.685c.027-.204.055-.521-.026-.723-.09-.223-.444-.339-.704-.395C2.846 12.39 0 9.701 0 6.492 0 2.912 3.59 0 8 0ZM5.022 7.686H3.497V4.918a.156.156 0 0 0-.155-.156H2.78a.156.156 0 0 0-.156.156v3.486c0 .041.017.08.044.107v.001l.002.002.002.002a.154.154 0 0 0 .108.043h2.242c.086 0 .155-.07.155-.156v-.56a.156.156 0 0 0-.155-.157Zm.791-2.924a.156.156 0 0 0-.156.156v3.486c0 .086.07.155.156.155h.562c.086 0 .155-.07.155-.155V4.918a.156.156 0 0 0-.155-.156h-.562Zm3.863 0a.156.156 0 0 0-.156.156v2.07L7.923 4.832a.17.17 0 0 0-.013-.015v-.001a.139.139 0 0 0-.01-.01l-.003-.003a.092.092 0 0 0-.011-.009h-.001L7.88 4.79l-.003-.002a.029.029 0 0 0-.005-.003l-.008-.005h-.002l-.003-.002-.01-.004-.004-.002a.093.093 0 0 0-.01-.003h-.002l-.003-.001-.009-.002h-.006l-.003-.001h-.004l-.002-.001h-.574a.156.156 0 0 0-.156.155v3.486c0 .086.07.155.156.155h.56c.087 0 .157-.07.157-.155v-2.07l1.6 2.16a.154.154 0 0 0 .039.038l.001.001.01.006.004.002a.066.066 0 0 0 .008.004l.007.003.005.002a.168.168 0 0 0 .01.003h.003a.155.155 0 0 0 .04.006h.56c.087 0 .157-.07.157-.155V4.918a.156.156 0 0 0-.156-.156h-.561Zm3.815.717v-.56a.156.156 0 0 0-.155-.157h-2.242a.155.155 0 0 0-.108.044h-.001l-.001.002-.002.003a.155.155 0 0 0-.044.107v3.486c0 .041.017.08.044.107l.002.003.002.002a.155.155 0 0 0 .108.043h2.242c.086 0 .155-.07.155-.156v-.56a.156.156 0 0 0-.155-.157H11.81v-.589h1.525c.086 0 .155-.07.155-.156v-.56a.156.156 0 0 0-.155-.157H11.81v-.589h1.525c.086 0 .155-.07.155-.156Z" />
            </svg>
        </div>
        <div id="Email" class="mainbtn Email" onclick="self.location.href='mailto:GuoJicake@gmail.com'">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                class="bi bi-envelope-fill" viewBox="0 0 16 16">
                <path
                    d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z" />
            </svg>
        </div>
        <div id="goTop" class="mainbtn goTop">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-up"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z" />
            </svg>
        </div>
    </div>

    <dialog class="showCZcakeDetail">
        <figcaption>
            <img class="animate-zoom" src="">
            <img class="animate-zoom" src="">
        </figcaption>
        <div class="animate__animated animate__fadeInUp">
            <img src="../Source/IMG/Key-Vision/orange2.png">
            <img src="../Source/IMG/Key-Vision/strawberry.png">
            <section>
                <h6>客戶需求：</h6>
                <p>
                    尺寸:6吋,<br>
                    口味:草莓覆盆子,檸檬藍莓,<br>
                    顏色:黃色,<br>
                    配件:生日快樂英文插旗($0)*1,氣球($150)*1,<br>
                    備註：<br>
                    我希望可以把我和我的貓咪照著這張設計圖繪製上去，再加上我的名字和生日快樂的英文~
                </p>
            </section>
            <price>
                <h6>NT.3620</h6>
            </price>
        </div>

    </dialog>
    <dialog class="ShowMSG">
        <div class="animate-zoom">
            <div>
                <h6 class="animated ani_infinite">X</h6>
            </div>
            <div>
                <h6 class="msg"></h6>
                <img class="animated ani_infinite pulse" src="">
            </div>
        </div>
    </dialog>

    <div id="workShow">
        <!-- <p>作品展示</p> 可考慮連後端-->
        <div>
            <ul class="CZcake">
                <li class="item_CZcake">
                    <img src="Source/IMG/cake_items/cake001.jpg" alt="商品名稱01">
                </li>
                <li class="item_CZcake">
                    <img src="Source/IMG/cake_items/cake002.jpg" alt="商品名稱02">
                </li>
                <li class="item_CZcake">
                    <img src="Source/IMG/cake_items/cake003.jpg" alt="商品名稱03">
                </li>
                <li class="item_CZcake">
                    <img src="Source/IMG/cake_items/cake004.jpg" alt="商品名稱04">
                </li>
                <li class="item_CZcake">
                    <img src="Source/IMG/cake_items/cake005.jpg" alt="商品名稱05">
                </li>
                <li class="item_CZcake">
                    <img src="Source/IMG/cake_items/cake006.jpg" alt="商品名稱06">
                </li>
                <li class="item_CZcake">
                    <img src="Source/IMG/cake_items/cake002.jpg" alt="商品名稱07">
                </li>
                <li class="item_CZcake">
                    <img src="Source/IMG/cake_items/cake003.jpg" alt="商品名稱08">
                </li>
            </ul>
        </div>
        <div class="bg">
            <cake></cake>
            <div class="clouds">
                <div class="cloud_01"></div>
                <div class="cloud_02"></div>
                <div class="cloud_03"></div>
                <div class="cloud_04"></div>
            </div>
        </div>
    </div>
    <div id="CZ_introduce">
        <div class="Feature_ITD animate__animated">
            <h4>具現化您獨一無二的回憶吧！</h4>
            <p>
                手繪蛋糕是一種特別的客製化蛋糕，能夠將您的回憶或創意化為繪畫，呈現在蛋糕上。<br>
                我們的手繪蛋糕是由專業師傅手工製作，每個細節都經過精心設計和精確繪製，確保您獲得最完美的蛋糕。<br>
                <br>
                我們接受客人提供的照片、圖像、動物照片等等~<br>
                我們的手繪蛋糕不僅美味，而且能夠呈現出您的個性和風格，是一個非常有意義和珍貴的禮物。<br>
                <br>
                讓我們一起為您打造一個獨一無二的手繪蛋糕，讓您的特別時刻更加精彩難忘吧！
            </p>
        </div>
        <div class="process_ITD">
            <h6>訂購流程</h6>
            <div class="staps">
                <div class="stap">
                    <p>填寫以下客製化表單</p>
                </div>▶
                <div class="stap">
                    <p>3日內專人將與您聯絡</p>
                </div>▶
                <div class="stap">
                    <p>確認蛋糕細節與報價</p>
                </div>▶
                <div class="stap">
                    <p>確認匯款後開始製作</p>
                </div>▶
                <div class="stap">
                    <p>完成訂購</p>
                </div>
            </div>
        </div>
        <% if(!session.user){ %>
            <div class="IsLogin">
                <a href="/C05">
                    <h6>登入以開始填表單！</h6>
                </a>
            </div>
    </div>
    <% }else{ %>
        <div class="onLogin">
            <h6>一起留下美好回憶吧！</h6>
        </div>
        </div>
        <div class="IsLoginThen">
            <form class="CZcakeform" id="test" enctype="multipart/form-data">
                <div>
                    <label>訂購人姓名：</label>
                    <input type="text" value='<%= data.m_name %>'>
                </div>
                <div>
                    <label>聯絡電話：</label>
                    <input type="text" value="<%= data.phone %>">
                </div>
                <div>
                    <label>取貨日期：</label>
                    <input type="date" name="cust_date" value="2023-03-14">
                </div>
                <div>
                    <label>希望聯絡方式：</label>
                    <select name="connection">
                        <option>請選擇聯絡方式</option>
                        <option value="E-mail" selected="selected">E-mail</option>
                        <option value="手機">手機</option>
                        <option value="Line">Line</option>
                    </select>
                </div>
                <div>
                    <label>蛋糕尺寸：</label>
                    <select name="cakeSize">
                        <option>請選擇聯絡方式</option>
                        <option value="6吋" selected="selected">6吋</option>
                        <option value="8吋">8吋</option>
                        <option value="10吋">10吋</option>
                    </select>
                </div>
                <div class="type02">
                    <p>若您選擇雙層或高蛋糕請選擇2口味, 三層選擇3種, 單層標準蛋糕選擇一種就好喔！</p>
                    <section>
                        <label>蛋糕口味：</label>
                        <div>
                            <label><input type="checkbox" id="flavor_01" name="cakeTaste1" value="巧克力巴瑞脆片">&nbsp;
                                巧克力巴瑞脆片(4吋+$50,6吋+$100,8吋+$200)</label>
                            <label><input type="checkbox" id="flavor_02" name="cakeTaste2" value="草莓覆盆子">&nbsp;
                                草莓覆盆子(4吋+$50,6吋+$100,8吋+$200)</label>
                            <label><input type="checkbox" id="flavor_03" name="cakeTaste3" value="檸檬藍莓">&nbsp;
                                檸檬藍莓</label>
                            <label><input type="checkbox" id="flavor_04" name="cakeTaste4" value="焦糖香蕉">&nbsp;
                                焦糖香蕉</label>
                        </div>
                    </section>
                </div>
                <div>
                    <label>蛋糕外觀顏色：</label>
                    <select id="cakeColor" name="cakeColor">
                        <option value="cake_White">白色</option>
                        <option value="cake_cream">米色</option>
                        <option value="cake_coffee">咖啡色</option>
                        <option value="cake_Black">黑色</option>
                        <option value="cake_Red">紅色</option>
                        <option value="cake_Orange">橙色</option>
                        <option value="cake_Yellow">黃色</option>
                        <option value="cake_Green">綠色</option>
                        <option value="cake_Blue">藍色</option>
                        <option value="cake_Indigo">靛色</option>
                        <option value="cake_Purple">紫色</option>
                    </select>
                </div>
                <div>
                    <label>是否需要配件：</label>
                    <div>
                        <label>生日快樂英文插旗($0)<input type="number" name="acc1" min="0" value="1"></label>
                        <label>氣球($150)<input type="number" name="acc2" min="0" value="1"></label>
                        <label>生日小皇冠($150)<input type="number" name="acc3" min="0" value="0"></label>
                        <label>壽字插旗($50)<input type="number" name="acc4" min="0" value="0"></label>
                        <label>生日派對掛旗($250)<input type="number" name="acc5" min="0" value="0"></label>
                    </div>
                </div>
                <div class="type02">
                    <p>若有多張參考圖，請整合成單張上傳</p>
                    <p>找不到心儀參考圖嗎？也歡迎直接繪製表達，在上傳到這邊喔！</p>
                    <section>
                        <label>繪製內容參考：</label>
                        <input type="file" name="img" id="imgFile">
                    </section>
                </div>
                <div>
                    <label>備註：</label>
                    <textarea name="note" placeholder="可以用文字大致填寫一下喜歡的風格、圖案、參考圖說明或其他補充等等"></textarea>
                </div>
                <input type="button" id="submit" value="確認送出">
            </form>
            <!-- <game>
                <div>找不到心儀參考圖嗎？也歡迎嘗試用繪製表達喔！</div>
                <div>
                    <canvas width="600" height="600"></canvas>
                </div>
                <div>
                    <button id="">橡皮擦</button>
                    <button id="">上一步</button>
                    <button id="">清空</button>
                    <a id="save" href="#" download="aShareaDay.png" class=""><button>我要保存</button></a>
                </div>
            </game> -->
        </div>
        <% }%>

            <footer>
                <div>
                    <div>
                        <div id="icon">
                            <img src="../Source/IMG/Logo.png" alt="Logo">
                            <div>
                                <a href="https://www.facebook.com/ispanTaipei" target="_blank"><img
                                        src="../Source/IMG/FB.png" alt="FB"></a>
                                <a href="https://www.instagram.com/5gutlab_zicehui/" target="_blank"><img
                                        src="../Source/IMG/ig.png" alt="ig"></a>
                                <a onclick="self.location.href='mailto:GuoJicake@gmail.com'"><img
                                        src="../Source/IMG/mail.png" alt="mail"></a>
                            </div>
                        </div>
                        <div>
                            <h6>訂購電話</h6>
                            <p>04-1234567</p><br>
                            <h6>營業時間</h6>
                            <p>週二-週日10:00至19:00 每週一公休</p><br>
                            <h6>地址</h6>
                            <p>台中市南屯區公益路二段(國泰世華大樓18樓)</p>
                        </div>
                    </div>
                    <small>Copyright © 2023 MFEE32 第一組. All rights reserved.</small>
                </div>
            </footer>

            <script>
                const target = $('.Feature_ITD')[0];
                const myObserve = $('.IsLogin')[0];
                const options = {
                    threshold: 0.5
                };

                const addAni = (entries) => {
                    entries.forEach(entry => {
                        if (!entry.isIntersecting) {
                            console.log("我進來了");
                        } else {
                            console.log("我出來了");
                            if (entry.intersectionRatio === 1) {
                                $(target).addClass('animate__fadeInUp');
                            }
                        }
                    })
                }
                console.log(myObserve);
                let observer = new IntersectionObserver(addAni, options);
                observer.observe(target);
            </script>
            <script src="js/CustomizationCake.js"></script>
            <script src="js/goTop.js"></script>
            <script src="js/drawcake.js"></script>
            <script>
                // LINE視窗
                const line = document.getElementById("Line");
                const Close = document.getElementById("close");
                const Linediv = document.getElementById("LINE_QR");

                line.addEventListener("click", function () {
                    Linediv.style.visibility = "visible";
                    Linediv.classList.remove("animate__bounceOutDown");
                    Linediv.classList.add("animate__bounceInUp")
                });

                Close.addEventListener("click", function () {
                    Linediv.classList.remove("animate__bounceInUp")
                    Linediv.classList.add("animate__bounceOutDown")
                    setTimeout(function () {
                        Linediv.style.visibility = "hidden";
                    }, 2000);
                });
            </script>
            <script>
                class ShowDialog {
                    constructor() {
                        this.showDialog_BEnd = $('.ShowMSG');
                        this.img = this.showDialog_BEnd.children().children().eq(1).find("img");
                        this.h6 = this.showDialog_BEnd.children().children().eq(1).find("h6");
                    }

                    show(imgUrl, msg) {
                        this.showDialog_BEnd.css({ display: "flex", });
                        this.img.attr('src', imgUrl);
                        this.h6.text(msg);
                    }

                    /* 任意點擊關閉浮窗 */
                    onClickOutside(Needlocation = true) {
                        const self = this; // 保存当前上下文
                        this.showDialog_BEnd.on("click", function (a) {
                            // console.log(a.target);
                            if ($(a.target).is("div") || $(a.target).is("img") || $(a.target).is("h6.msg")) {
                                return;
                            } else {
                                if (Needlocation) {
                                    location.href = '/C02';
                                } else {
                                    self.showDialog_BEnd.css({ display: "none", });
                                }
                            }
                        })
                        if (Needlocation) {
                            setTimeout(() => { location.href = '/C02'; }, 5000);
                        }
                    }
                }

                $('#submit').on('click', function () {
                    var data = $('#test').serializeArray();
                    let file = $('#imgFile')[0].files[0]
                    console.log(file)
                    console.log(data)
                    let formData = new FormData();
    
        <% if (!session.user) {  %>
        //沒登入就無視
        <% } else { %>
        var JSONData = { m_id: <%= session.user.m_id %> }; //注意!!! 需先登入!!!!不然報錯!!!!!!
        <% } %>      
        for (index in data) {
                        JSONData[data[index].name] = data[index].value;
                    }
                    formData.append("img", file);
                    formData.append("data", JSON.stringify(JSONData));

                    $.ajax({
                        url: "/C02",
                        type: "POST",
                        // contentType: "application/json; charset=utf-8",
                        contentType: false,
                        processData: false,
                        // data: JSON.stringify(JSONData),
                        data: formData,
                        success: function (res) {
                            const dialog = new ShowDialog();
                            dialog.show("../Source/IMG/rabbit.png", "下訂成功");
                            dialog.onClickOutside();
                        },
                        error: function () {
                            const dialog = new ShowDialog();
                            dialog.show("../Source/IMG/Key-Vision/Rabbit_NO.png", "送出失敗");
                            dialog.onClickOutside(false);
                        }
                    })
                })
            </script>

</body>

</html>