<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>08.餡料食材介紹</title>
    <link rel="stylesheet" href="css/08-14.css">
</head>

<body>
    <!-- 預留固定nav的位置 -->
    <div class="navtop"></div>
    <!-- 預留固定輪播的位置 -->
    <div class="slideshow-container"></div>


    <!-- 食材與內餡區域 -->
    <div class="cakearea">
        <div class="cakeprobox">
            <!-- 食材圖 -->
            <div class="stuffingtitle">
                <img src="Source/IMG/C03_img/diamondword.png" alt="">
                <!-- <h3>內餡</h3> -->
            </div>
            <!-- 四大內餡區域-->
            <div class="cakebox">
                <div class="card">
                    <div class="card_body">
                        <div class="card_front">
                            <img src="Source/IMG/C03_img/草莓覆盆子.jpg" alt="" class="card_img">
                        </div>
                        <div class="card_back">
                            <h1 class="card_title">覆盆子卡士達</h1>
                            <h3 class="card_title">最暢銷口味，老少咸宜，孩子的最愛!</h3>
                            <p>
                                原物料: <br>蛋，三溫糖，覆盆子果泥，奶油，吉利丁，草莓<br>果粒/果泥，葡萄糖漿，柑橘果膠
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card_body">
                        <div class="card_front">
                            <img src="Source/IMG/C03_img/巧克力巴瑞脆片.jpg" alt="" class="card_img">
                        </div>
                        <div class="card_back">
                            <h1 class="card_title">巧克力巴瑞脆片</h1>
                            <h3 class="card_title">黃金比例搭配的苦甜巧克力, 是巧克力迷不能錯過的滋味</h3>
                            <p>
                                原物料: <br>70%黑巧克力,甜巧克力,鮮奶油,榛果醬,巴瑞脆片

                                蛋奶素可<br>果粒/果泥，葡萄糖漿，柑橘果膠
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card_body">
                        <div class="card_front">
                            <img src="../../../Source/IMG/C03_img/檸檬藍莓.jpg" alt="" class="card_img">
                        </div>
                        <div class="card_back">
                            <h1 class="card_title">檸檬藍莓</h1>
                            <h3 class="card_title">孕媽媽首推口味~ 嗜酸者的最愛, 夏季暢銷選擇！</h3>
                            <p>
                                原物料: <br>蛋，三溫糖,檸檬原汁,奶油,吉利丁,藍莓果粒
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card_body">
                        <div class="card_front">
                            <img src="../../../Source/IMG/C03_img/焦糖香蕉.jpg" alt="" class="card_img">
                        </div>
                        <div class="card_back">
                            <h1 class="card_title">海鹽焦糖香蕉</h1>
                            <h3 class="card_title">經典法式口味搭配台灣水果,是歐美歸國華僑/學子指定口味</h3>
                            <p>
                                原物料: <br>蛋,細砂糖,牛奶,奶油, 新鮮香蕉片,蛋奶素可
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 食材區域 -->
            <div class="ingredientsArea">
                <div class="ingredients">
                    <img src="../../../Source/IMG/C03_img/diamondword02.png" alt="">
                    <!-- <h3>食材</h3> -->
                </div>
                <div class="container">
                    <div class="box">
                        <div class="img-box">
                            <img src="../../../Source/IMG/C03_img/可可巴芮小脆片.jpg" alt="">
                        </div>
                        <div class="text-box">
                            <h2>可可巴芮<br> 小脆片</h2>
                            <p>產地：法國<br>甜脆的口感，與巧克力與榛果醬結合，為巧克力蛋糕增加香脆口感！<br>使用產品：巧克力蛋糕內餡
                            </p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="img-box">
                            <img src="../../../Source/IMG/C03_img/發酵無鹽奶油.png" alt="">
                        </div>
                        <div class="text-box">
                            <h2>發酵無鹽奶油</h2>
                            <p>使用產品：蛋糕體/杯子蛋糕, 覆盆子/焦糖/檸檬內餡, <br>馬卡龍內餡（黑醋栗/百香果),瑪德蓮,餅乾,派皮</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="img-box">
                            <img src="../../../Source/IMG/C03_img/海藻糖.jpg" alt="">
                        </div>
                        <div class="text-box">
                            <h2>TREHA海藻糖</h2>
                            <p>產地：日本<br>甜度為砂糖之45﹪：海藻糖有溫和的甜味卻比砂糖更為持久，可改善含高量砂糖食品的甜膩感。
                                <br>使用產品：蛋糕體/ 杯子蛋糕/ 瑪德蓮
                            </p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="img-box">
                            <img src="../../../Source/IMG/C03_img/九如檸檬汁.jpg" alt="">
                        </div>
                        <div class="text-box">
                            <h2>九如檸檬汁</h2>
                            <p>產地：屏東</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ingredientsArea">
                <div class="container">
                    <div class="box">
                        <div class="img-box">
                            <img src="../../../Source/IMG/C03_img/BOIRON百香果果泥.jpg" alt="">
                        </div>
                        <div class="text-box">
                            <h2>BOIRON百香果泥<br></h2>
                            <p>產地：法國<br>獨特的急速冷凍技術，完全保有如新鮮口感般的水果風味<br>
                            </p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="img-box">
                            <img src="../../../Source/IMG/C03_img/BOIRON藍莓果泥.jpg" alt="">
                        </div>
                        <div class="text-box">
                            <h2>BOIRON藍莓果泥</h2>
                            <p>產地：法國<br>獨特的急速冷凍技術，完全保有如新鮮口感般的水果風味</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="img-box">
                            <img src="../../../Source/IMG/C03_img/冷冻莓-17504975.jpg" alt="">
                        </div>
                        <div class="text-box">
                            <h2>BOIRON<br>冷凍草莓</h2>
                            <p>產地：法國<br>富含有助於膠原蛋白形成的維生素C</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="img-box">
                            <img src="../../../Source/IMG/C03_img/BOIRON冷凍藍莓粒.png" alt="">
                        </div>
                        <div class="text-box">
                            <h2>BOIRON<br>冷凍藍莓<br></h2>
                            <p>產地：法國<br>富含15種花青素幫助清除自由基</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ingredientsArea">
                <div class="container">
                    <div class="box">
                        <div class="img-box">
                            <img src="../../../Source/IMG/C03_img/CACAO BARRY 黑巧克力.jpg" alt="">
                        </div>
                        <div class="text-box">
                            <h2>CACAOBARRY<br>黑巧克力</h2>
                            <p>產地：法國<br>法國花郜苦甜調溫巧克力70%, 具有幽長綿延的果香風味及香料芬芳</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="img-box">
                            <img src="../../../Source/IMG/C03_img/CACAO BARRY防潮可可粉.jpg" alt="">
                        </div>
                        <div class="text-box">
                            <h2>CACAOBARRY<br>可可粉</h2>
                            <p>使用產品：巧克力蛋糕/杯子蛋糕,巧克力淋面<br>（蛋糕外觀流下來部分）</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="img-box">
                            <img src="../../../Source/IMG/C03_img/苦甜代可可脂黑巧克力.jpg" alt="">
                        </div>
                        <div class="text-box">
                            <h2>苦甜可可黑巧</h2>
                            <p>產地：馬來西亞<br>以甜巧克力的角色,加入70%巧克力中
                                <br>使用產品：巧克力醬,巧克力蛋糕,巧克力恐龍模型
                            </p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="img-box">
                            <img src="../../../Source/IMG/C03_img/COCOBARRY白巧克力.jpg" alt="">
                        </div>
                        <div class="text-box">
                            <h2>COCOBARRY白巧克力</h2>
                            <p>產地：法國<br>
                                札飛柔滑白巧克力 34%,糖份減低表現出極度輕柔與隱晦的甜度
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ingredientsArea">
                <div class="container">
                    <div class="box">
                        <div class="img-box">
                            <img src="../../../Source/IMG/C03_img/吉利丁.jpg" alt="">
                        </div>
                        <div class="text-box">
                            <h2>吉利丁片</h2>
                            <p>使用產品：蛋糕內餡<br>使用產品：蛋糕內餡（覆盆子草莓/ 檸檬醬）、檸檬派、淋面（蛋糕外觀流下來部分）</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="img-box">
                            <img src="../../../Source/IMG/C03_img/明治三溫糖.jpg" alt="">
                        </div>
                        <div class="text-box">
                            <h2>明治三溫糖</h2>
                            <p>產地：日本<br>
                                日本特有的砂糖，將純蔗糖結晶後殘留的糖液，傳統做法會經過三次加熱及結晶處理，其名「三溫」便是從自於此</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="img-box">
                            <img src="../../../Source/IMG/C03_img/鐵塔鮮奶油.jpg" alt="">
                        </div>
                        <div class="text-box">
                            <h2>鐵塔鮮奶油</h2>
                            <p>產地：法國<br>
                                <br>使用產品：巧克力醬,原味杯子蛋糕體,淋面（蛋糕外觀流下來部分）

                            </p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="img-box">
                            <img src="../../../Source/IMG/C03_img/新鮮香蕉.jpg" alt="">
                        </div>
                        <div class="text-box">
                            <h2>新鮮香蕉</h2>
                            <p>產地：台灣<br>
                                來自台灣的小農，新鮮採摘當天進貨
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 預留固定footer的位置 -->
    <div class="footer"></div>
</body>

</html>