<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>菓季-常見問題</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="css/08-14.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <style>
        /* 字型引用 */
        @font-face {
            font-family: 'GenSenRounded-B';
            src: local("GenSenRounded-B"),
                url('../Source/ttc/GenSenRounded-B.ttc') format("woff"),
                url('../Source/ttc/GenSenRounded-B.ttc') format("opentype"),
                url('../Source/ttc/GenSenRounded-B.ttc') format("embedded-opentype");
        }

        /* 色票表 */
        :root {
            --sky: #a6dbf5;

            --Green01: #368284;
            --Green02: #628e59;
            --Green03: #fff1c5;
            --Green04: #87c379;

            --YWhite: #F6F3E4;
            --GWhite: #F7F8F3;

            --BG_LYellow: #f0da99;
            --BG_LOrange: #F3D1B2;
            --BG_MOrange: #f7bc88;

            --Brown01: #5c3a31;
            --Brown02: #835B36;
            --Brown03: #BB8058;

            --Brown04_BE: #b79779;
            --Brown05_BEtxt: #876464;

            --BTN_Red: #e3344b;
            --BTN_Green: #337e47;
            --BTN_Yellow: #f39800;
        }

        /* 字型套用 */
        body {
            font-family: GenSenRounded-B !important;
            background-color: var(--Green03);
        }

        nav {
            width: 100vw;
            position: fixed;
            top: 0px;
            margin: 0;



            display: flex;
            flex-direction: row;
            z-index: 4;

            justify-content: space-between;
            align-items: center;

            padding: 10px 100px 10px 40px;
            transition: 1.0 ease;

            background-color: hsla(0, 0%, 100%, 0.5);

            color: var(--Brown02);
            letter-spacing: 2px;
        }

        nav>div:first-of-type {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        nav>div img {
            height: 50px;
            margin: 0 20px 0 0;
        }

        nav a {
            text-decoration: none;
        }

        nav>div:first-of-type>a>p {
            font-size: 1.4em;
            margin: 0;
            color: var(--Brown01);
        }

        nav>#navlist>a>p {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0;
            font-size: 1.2em;
            color: var(--Brown01);
        }

        #navlist {
            min-width: 600px;
            display: flex;
            justify-content: space-between;
            margin: 0 100px 0 0;
        }

        #navlist svg {
            width: fit-content;
            height: fit-content;
            color: var(--Brown01);
        }

        /*線段hover功能*/
        nav>div#navlist>a:after,
        nav>div>a>p:after {
            display: block;
            content: '';
            border-bottom: solid 2px var(--Brown01);
            transform: scaleX(0);
            transform-origin: 0%;
            transition: transform 250ms ease-in-out;
        }

        nav>div#navlist>a:hover:after,
        nav>div>a>p:hover:after {
            transform: scaleX(1);
        }

        nav>div:first-of-type {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        nav>div img {
            height: 50px;
            margin: 0 20px 0 0;
        }

        nav a {
            text-decoration: none;
        }

        nav>div:first-of-type>a>p {
            font-size: 1.4em;
            margin: 0;
            color: var(--Brown01);
        }

        nav>#navlist>a>p {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0;
            font-size: 1.2em;
            color: var(--Brown01);
        }

        #navlist {
            min-width: 600px;
            display: flex;
            justify-content: space-between;
            margin: 0 100px 0 0;
        }

        #navlist svg {
            width: fit-content;
            height: fit-content;
            color: var(--Brown01);
        }

        /*線段hover功能*/
        nav>div#navlist>a:after,
        nav>div>a>p:after {
            display: block;
            content: '';
            border-bottom: solid 2px var(--Brown01);
            transform: scaleX(0);
            transform-origin: 0%;
            transition: transform 250ms ease-in-out;
        }

        nav>div#navlist>a:hover:after,
        nav>div>a>p:hover:after {
            transform: scaleX(1);
        }


        /* ----------------AD----------------- */
        .Our-newAD {
            position: relative;
            z-index: 0;
            width: 100%;
            display: flex;
            flex-direction: row;

            justify-content: center;
            align-items: center;

            padding: 70px 0 0 0;
            margin: 0px 0 0 0;
            /* transition: 1.0 ease; */
            overflow: hidden;

        }

        .Our-newAD>div {
            width: 100vw;
        }

        .swiper {
            width: 100vw;
            height: 400px;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 400px;
            object-fit: cover;
        }

        .autoplay-progress {
            bottom: 0px;
            z-index: 10;
            width: 48px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            color: var(--swiper-theme-color);
            visibility: hidden;

            background-color: #0061f3;
        }

        .autoplay-progress svg {
            --progress: 0;
            position: absolute;
            left: 0;
            top: 0px;
            z-index: 10;
            width: 100%;
            height: 100%;
            stroke-width: 10px;
            stroke: var(--swiper-theme-color);
            fill: var(--GWhite);
            stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
            stroke-dasharray: 125.6;
            transform: rotate(-90deg);
        }

        #btn_next,
        #btn_prev {
            color: #fff;
        }

        /* ----------------------------------------- */


        /* ----------------------------------------- */
        #footer>img {
            width: 100vw;
        }

        footer {
            position: relative;
            width: 100%;
            min-width: 1440px;
            background-image: url(../Source/IMG/Key-Vision/middle_long.png);
            background-position: top;
            background-size: 60%;
            background-repeat: repeat-x;
            z-index: 3;
            height: 600px;
            color: var(--GWhite);
        }

        #footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 30px 30px 0px 30px;
            color: var(--YWhite);
        }

        #icon {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        #icon>div {
            margin: 50px;
        }

        #icon a>img {
            width: 50px;
            margin: 0 10px;
        }

        /*------------------------------*/
        /* ------LINE彈跳視窗------------------------------- */

        #LINE_QR {
            position: fixed;
            right: 60px;
            bottom: 180px;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            align-items: center;
            width: 15vw;
            border-radius: 10px;
            z-index: 99;
            visibility: hidden;
        }

        #LINE_QR>div {
            background-color: #07B53B;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            border-radius: 10px 10px 0px 0px;


        }

        #LINE_QR>div>svg {
            color: var(--color01);
            padding: 15px;
        }

        #LINE_QR>div>p {
            margin: 0 10px 0 0;
            color: var(--color01);
            cursor: pointer;
        }

        #LINE_QR>img {
            width: 8vw;
            padding-top: 20px;
        }

        #LINE_QR>p {
            font-size: 1rem;
            padding: 20px;

        }


        /* ---------------側邊btn----------------- */
        #Btnlist {
            position: fixed;
            right: 0;
            bottom: 40px;
            display: flex;
            flex-direction: column;
            z-index: 50;
        }

        .mainbtn {
            width: 50px;
            height: 50px;
            border-radius: 10px;
            margin: 5px 0;
        }

        #Btnlist div {
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.2s ease-in-out;
        }

        .Line {
            background-color: #198754;
            color: white;
            border: 3px solid transparent;
        }

        .Line:hover {
            background-color: white;
            color: #198754;
            border: 3px solid #198754;
        }

        .Email {
            background-color: #dc3545;
            color: white;
            border: 3px solid transparent;
        }

        .Email:hover {
            background-color: white;
            color: #dc3545;
            border: 3px solid #dc3545;
        }

        .goTop {
            background-color: #6c757d;
            color: white;
            border: 3px solid transparent;
        }

        .goTop:hover {
            background-color: white;
            color: #6c757d;
            border: 3px solid #6c757d;
        }

        /*福窗*/
        .ShowMSG {
            position: fixed;
            width: 100vw;
            height: 100vh;
            background-color: hsla(0, 0%, 0%, 0.2);

            display: none;
            justify-content: center;
            align-items: center;
            border: none;

            z-index: 5;
            cursor: pointer;
        }

        .ShowMSG>div {
            display: flex;
            flex-direction: column;
            max-width: 450px;

            background-color: var(--Brown04_BE);

            border-radius: 30px;
            border: 10px solid var(--Brown01);
            cursor: default;
        }

        .ShowMSG>div>div:first-child {
            display: flex;
            justify-content: flex-end;
            background-color: var(--Brown01);
            width: 100%;
        }

        .ShowMSG>div>div:first-child h6 {
            color: var(--Brown04_BE);
            margin: 0;
            padding: 0px 20px 5px 20px;
            cursor: pointer;
        }

        .ShowMSG>div>div:last-of-type {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 20px;
        }

        .ShowMSG>div>div:last-of-type>img {
            max-width: 40%;
        }

        .ShowMSG>div>div:last-of-type>h6 {
            max-width: 40%;
            font-size: var(--pBTitle);
        }
    </style>
</head>

<body>
    <!-- 預留固定nav的位置 -->
    <!-- nav-->
    <nav>
        <div>
            <a href="/"><img src="../Source/IMG/Logo.png" alt="Logo"></a>
            <a href="/">
                <p>菓季</p>
            </a>
        </div>
        <div id="navlist">
            <a href="/C01/0">
                <p>主題蛋糕</p>
            </a>
            <a href="/C02">
                <p>客製蛋糕</p>
            </a>
            <a href="/C03">
                <p>餡料食材介紹</p>
            </a>
            <a href="/C04">
                <p>常見問題</p>
            </a>
            <% if(!session.user) { %>
                <a href="/C05"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                        class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                    </svg></a>
                <% }else if(session.user.rights){%>
                    <a href="/C05_2/1"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                            fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                        </svg></a>
                    <%}else{%>
                        <a href="/C05_4/1"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                            </svg></a>
                        <%}%>
                            <a href="/C06"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                    fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                                    <path
                                        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                </svg></a>
        </div>
    </nav>
    <!-- 預留固定輪播的位置 -->
    <div class="Our-newAD">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="../Source/IMG/ad1.png" alt=""></div>
                <div class="swiper-slide"><img src="../Source/IMG/ad2.png" alt=""></div>
                <div class="swiper-slide"><img src="../Source/IMG/ad3.png" alt=""></div>
            </div>

            <div id="btn_next" class="swiper-button-next"></div>
            <div id="btn_prev" class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
            <div class="autoplay-progress">
                <svg viewBox="0 0 48 48">
                    <circle cx="24" cy="24" r="20"></circle>
                </svg>
                <span></span>
            </div>
        </div>
    </div>
    <div id="LINE_QR" class="animate__animated ">
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-line"
                viewBox="0 0 16 16">
                <path
                    d="M8 0c4.411 0 8 2.912 8 6.492 0 1.433-.555 2.723-1.715 3.994-1.678 1.932-5.431 4.285-6.285 4.645-.83.35-.734-.197-.696-.413l.003-.018.114-.685c.027-.204.055-.521-.026-.723-.09-.223-.444-.339-.704-.395C2.846 12.39 0 9.701 0 6.492 0 2.912 3.59 0 8 0ZM5.022 7.686H3.497V4.918a.156.156 0 0 0-.155-.156H2.78a.156.156 0 0 0-.156.156v3.486c0 .041.017.08.044.107v.001l.002.002.002.002a.154.154 0 0 0 .108.043h2.242c.086 0 .155-.07.155-.156v-.56a.156.156 0 0 0-.155-.157Zm.791-2.924a.156.156 0 0 0-.156.156v3.486c0 .086.07.155.156.155h.562c.086 0 .155-.07.155-.155V4.918a.156.156 0 0 0-.155-.156h-.562Zm3.863 0a.156.156 0 0 0-.156.156v2.07L7.923 4.832a.17.17 0 0 0-.013-.015v-.001a.139.139 0 0 0-.01-.01l-.003-.003a.092.092 0 0 0-.011-.009h-.001L7.88 4.79l-.003-.002a.029.029 0 0 0-.005-.003l-.008-.005h-.002l-.003-.002-.01-.004-.004-.002a.093.093 0 0 0-.01-.003h-.002l-.003-.001-.009-.002h-.006l-.003-.001h-.004l-.002-.001h-.574a.156.156 0 0 0-.156.155v3.486c0 .086.07.155.156.155h.56c.087 0 .157-.07.157-.155v-2.07l1.6 2.16a.154.154 0 0 0 .039.038l.001.001.01.006.004.002a.066.066 0 0 0 .008.004l.007.003.005.002a.168.168 0 0 0 .01.003h.003a.155.155 0 0 0 .04.006h.56c.087 0 .157-.07.157-.155V4.918a.156.156 0 0 0-.156-.156h-.561Zm3.815.717v-.56a.156.156 0 0 0-.155-.157h-2.242a.155.155 0 0 0-.108.044h-.001l-.001.002-.002.003a.155.155 0 0 0-.044.107v3.486c0 .041.017.08.044.107l.002.003.002.002a.155.155 0 0 0 .108.043h2.242c.086 0 .155-.07.155-.156v-.56a.156.156 0 0 0-.155-.157H11.81v-.589h1.525c.086 0 .155-.07.155-.156v-.56a.156.156 0 0 0-.155-.157H11.81v-.589h1.525c.086 0 .155-.07.155-.156Z" />
            </svg>
            <p id="close">X</p>
        </div>
        <img src="/Source/IMG/LINE.jpg" alt="">
        <p>請在LINE應用程式上開啟「好友」分頁，點選畫面右上方用來加入好友的圖示，
            接著點選「行動條碼」，然後掃描此行動條碼。</p>
    </div>
    <div id="Btnlist">
        <div id="Line" class="mainbtn Line">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-line"
                viewBox="0 0 16 16">
                <path
                    d="M8 0c4.411 0 8 2.912 8 6.492 0 1.433-.555 2.723-1.715 3.994-1.678 1.932-5.431 4.285-6.285 4.645-.83.35-.734-.197-.696-.413l.003-.018.114-.685c.027-.204.055-.521-.026-.723-.09-.223-.444-.339-.704-.395C2.846 12.39 0 9.701 0 6.492 0 2.912 3.59 0 8 0ZM5.022 7.686H3.497V4.918a.156.156 0 0 0-.155-.156H2.78a.156.156 0 0 0-.156.156v3.486c0 .041.017.08.044.107v.001l.002.002.002.002a.154.154 0 0 0 .108.043h2.242c.086 0 .155-.07.155-.156v-.56a.156.156 0 0 0-.155-.157Zm.791-2.924a.156.156 0 0 0-.156.156v3.486c0 .086.07.155.156.155h.562c.086 0 .155-.07.155-.155V4.918a.156.156 0 0 0-.155-.156h-.562Zm3.863 0a.156.156 0 0 0-.156.156v2.07L7.923 4.832a.17.17 0 0 0-.013-.015v-.001a.139.139 0 0 0-.01-.01l-.003-.003a.092.092 0 0 0-.011-.009h-.001L7.88 4.79l-.003-.002a.029.029 0 0 0-.005-.003l-.008-.005h-.002l-.003-.002-.01-.004-.004-.002a.093.093 0 0 0-.01-.003h-.002l-.003-.001-.009-.002h-.006l-.003-.001h-.004l-.002-.001h-.574a.156.156 0 0 0-.156.155v3.486c0 .086.07.155.156.155h.56c.087 0 .157-.07.157-.155v-2.07l1.6 2.16a.154.154 0 0 0 .039.038l.001.001.01.006.004.002a.066.066 0 0 0 .008.004l.007.003.005.002a.168.168 0 0 0 .01.003h.003a.155.155 0 0 0 .04.006h.56c.087 0 .157-.07.157-.155V4.918a.156.156 0 0 0-.156-.156h-.561Zm3.815.717v-.56a.156.156 0 0 0-.155-.157h-2.242a.155.155 0 0 0-.108.044h-.001l-.001.002-.002.003a.155.155 0 0 0-.044.107v3.486c0 .041.017.08.044.107l.002.003.002.002a.155.155 0 0 0 .108.043h2.242c.086 0 .155-.07.155-.156v-.56a.156.156 0 0 0-.155-.157H11.81v-.589h1.525c.086 0 .155-.07.155-.156v-.56a.156.156 0 0 0-.155-.157H11.81v-.589h1.525c.086 0 .155-.07.155-.156Z" />
            </svg>
        </div>
        <div id="Email" class="mainbtn Email" onclick="self.location.href='mailto:GuoJicake@gmail.com'">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                class="bi bi-envelope-fill" viewBox="0 0 16 16">
                <path
                    d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z" />
            </svg>
        </div>
        <div id="goTop" class="mainbtn goTop">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-up"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z" />
            </svg>
        </div>
    </div>
    <!-- Q&A標題 -->
    <div class="qadiv">
        <h3>常見問題</h3>
        <p>若無法解決您的問題，歡迎直接與我們線上客服聯繫</p>
    </div>
    <!-- Q&A -->
    <div class="qa_bgcolor">
        <div class="qa_area">
            <div class="faq_item">
                <div class="faq_question">
                    <table width:"100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr></tr>
                            <td valign="middle" align="right" width="0">
                                <div class="qicon">
                                    <!-- Q -->
                                    <img src="https://cdn-icons-png.flaticon.com/512/4553/4553013.png" alt="">
                                </div>
                            </td>
                            <td valign="middle" align="left" width="150" style="font-size: 20px
                        ;">&nbsp;&nbsp;&nbsp;宅配風險為何</td>
                            <td valign="middle" align="right" width="1000">
                                <div class="expand1 qicon">
                                    <!-- 加號 -->
                                    <img src="https://cdn-icons-png.flaticon.com/512/2997/2997933.png" alt=""
                                        class="addicon">
                                </div>
                            </td>
                        </tbody>
                    </table>
                </div>
                <div class="answer1 faq_answer_container" style="display:none">
                    <div class="faq_split"></div>
                    <div class="faq_answer">
                        <table width:"70%" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                                <tr>
                                    <td valign="top" align="right" width="20">
                                        <div>
                                            <!-- <button class="expand"> -->
                                            <!-- 減號 -->
                                            <!-- <img src="https://cdn-icons-png.flaticon.com/128/1828/1828901.png" alt="" class="answer"> -->
                                            <!-- </button> -->
                                        </div>
                                    </td>
                                    <td valign="middle" align="left"
                                        style="font-size: 18px; font-family: 微軟正黑體;letter-spacing: 2px; font-weight: 500;">
                                        &nbsp;&nbsp;&nbsp;黑貓冷凍宅配：正常情況是前一天寄出/隔日收到
                                        <br>
                                        <br>
                                        &nbsp;&nbsp;&nbsp;由於黑貓宅配是一整車貨物送<br>
                                        &nbsp;&nbsp;&nbsp;所以擔心貨量多或路況不佳時,有可能意外翻覆了整個蛋糕,導致蛋糕毀損<br>
                                        &nbsp;&nbsp;&nbsp;或是適逢中秋節/母親節/過年/1111佳節,您的蛋糕可能無法如期收到<br>
                                        &nbsp;&nbsp;&nbsp;或是政府公告颱風假/封城等停止上班的行政命令時,您的蛋糕也會因此無法如期收到<br>
                                        &nbsp;&nbsp;&nbsp;或是宅配人員不小心送錯宅配站所,您的蛋糕也會延遲一天收到<br>
                                        &nbsp;&nbsp;&nbsp;若您選擇黑貓宅配,請確認您可以承受這些風險 <br>
                                        &nbsp;&nbsp;&nbsp;因為宅配公司與菓季都
                                        <span style="color: brown;">無法</span>
                                        因為宅配問題給予任何
                                        <span style="color: brown;">賠償</span>!! <br>
                                        &nbsp;&nbsp;&nbsp;敬請原諒.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="faq_item">
                <div class="faq_question">
                    <table width:"100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr></tr>
                            <td valign="middle" align="right" width="0">
                                <div class="qicon">
                                    <!-- Q -->
                                    <img src="https://cdn-icons-png.flaticon.com/512/4553/4553013.png" alt="">
                                </div>
                            </td>
                            <td valign="middle" align="left" width="340" style="font-size: 20px
                        ;">&nbsp;&nbsp;&nbsp;如何選擇適合領取蛋糕的方式？</td>
                            <td valign="middle" align="right" width="1000">
                                <div class="expand2 qicon">
                                    <!-- 加號 -->
                                    <img src="https://cdn-icons-png.flaticon.com/512/2997/2997933.png" alt=""
                                        class="addicon">
                                </div>
                            </td>
                        </tbody>
                    </table>
                </div>
                <div class="answer2 faq_answer_container" style="display:none">
                    <div class="faq_split"></div>
                    <div class="faq_answer">
                        <table width:"70%" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                                <tr>
                                    <td valign="top" align="right" width="20">
                                        <div>
                                            <!-- <button class="expand"> -->
                                            <!-- 減號 -->
                                            <!-- <img src="https://cdn-icons-png.flaticon.com/128/1828/1828901.png" alt="" class="answer"> -->
                                            <!-- </button> -->
                                        </div>
                                    </td>
                                    <td valign="middle" align="left"
                                        style="font-size: 18px; font-family: 微軟正黑體;letter-spacing: 2px; font-weight: 500;">
                                        1. 自取：最安全,也可以當場確認配件裝飾是否正確 ( 自取時間週二～週日 / 11:00~18:00)<br>
                                        &nbsp;&nbsp;&nbsp;地址：台北市中山區北安路518巷14弄19號
                                        <br>
                                        <br>
                                        2. 自行安排計程車/lala move/uber 取貨：若您在大台北地區卻無法親自取貨時<br>
                                        &nbsp;&nbsp;&nbsp;車費將按照跳表或是app上的預估車費. 您與司機取蛋糕時再付車費
                                        <br>
                                        &nbsp;&nbsp;&nbsp;叫車前請電話聯絡（02-25331086)確認蛋糕是否已準備好<br>
                                        &nbsp;&nbsp;&nbsp;我們會透過訊息將完成的照片傳給您確認,再依照您的叫車資訊將蛋糕送上車
                                        <br>
                                        &nbsp;&nbsp;&nbsp;若擔心運送風險盡可能安排車子取貨,機車還是有些風險！<br>
                                        &nbsp;&nbsp;（禮盒/下午茶點心/杯子蛋糕類可以選擇機車送貨）
                                        <br>
                                        <br>
                                        3.黑貓冷凍宅配（適合大臺北以外地區）：風險最高！！前一天寄出隔日收到<br>
                                        &nbsp;&nbsp;&nbsp;我們的造型蛋糕、檸檬派、抹茶派並不建議使用<br>
                                        &nbsp;&nbsp;&nbsp;我們無法100%保證產品送到您手上的完整性，也有無法如期送達的風險。
                                        <br>
                                        &nbsp;&nbsp;&nbsp;若您願意承擔風險，且同意不理賠，我們的宅配費為：蛋糕1個270元 / 茶點點心類1-3個160元
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="faq_item">
                <div class="faq_question">
                    <table width:"100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr></tr>
                            <td valign="middle" align="right" width="0">
                                <div class="qicon">
                                    <!-- Q -->
                                    <img src="https://cdn-icons-png.flaticon.com/512/4553/4553013.png" alt="">
                                </div>
                            </td>
                            <td valign="middle" align="left" width="350" style="font-size: 20px
                        ;">&nbsp;&nbsp;&nbsp;工作室附近有捷運嗎？</td>
                            <td valign="middle" align="right" width="1000">
                                <div class="expand3 qicon">
                                    <!-- 加號 -->
                                    <img src="https://cdn-icons-png.flaticon.com/512/2997/2997933.png" alt=""
                                        class="addicon">
                                </div>
                            </td>
                        </tbody>
                    </table>
                </div>
                <div class="answer3 faq_answer_container" style="display:none">
                    <div class="faq_split"></div>
                    <div class="faq_answer">
                        <table width:"70%" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                                <tr>
                                    <td valign="top" align="right" width="20">
                                        <div>
                                            <!-- <button class="expand"> -->
                                            <!-- 減號 -->
                                            <!-- <img src="https://cdn-icons-png.flaticon.com/128/1828/1828901.png" alt="" class="answer"> -->
                                            <!-- </button> -->
                                        </div>
                                    </td>
                                    <td valign="middle" align="left"
                                        style="font-size: 18px; font-family: 微軟正黑體;letter-spacing: 2px; font-weight: 500;">
                                        &nbsp;&nbsp;文湖線捷運：大直站2號出口 。 大約3分鐘路程
                                        <br>
                                        <br>
                                        &nbsp;&nbsp;出來後請直走到第一紅綠燈口右轉（518巷），轉進來後第一個巷口左轉（14弄）<br>
                                        &nbsp;&nbsp;進來請靠右邊巷子走，就會找到19號。我們在公園旁邊，郵局的對面喔！
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="faq_item">
                <div class="faq_question">
                    <table width:"100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr></tr>
                            <td valign="middle" align="right" width="0">
                                <div class="qicon">
                                    <!-- Q -->
                                    <img src="https://cdn-icons-png.flaticon.com/512/4553/4553013.png" alt="">
                                </div>
                            </td>
                            <td valign="middle" align="left" width="350" style="font-size: 20px
                        ;">&nbsp;&nbsp;&nbsp;請問蛋糕的保存期限？</td>
                            <td valign="middle" align="right" width="1000">
                                <div class="expand4 qicon">
                                    <!-- 加號 -->
                                    <img src="https://cdn-icons-png.flaticon.com/512/2997/2997933.png" alt=""
                                        class="addicon">
                                </div>
                            </td>
                        </tbody>
                    </table>
                </div>
                <div class="answer4 faq_answer_container" style="display:none">
                    <div class="faq_split"></div>
                    <div class="faq_answer">
                        <table width:"70%" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                                <tr>
                                    <td valign="top" align="right" width="20">
                                        <div>
                                            <!-- <button class="expand"> -->
                                            <!-- 減號 -->
                                            <!-- <img src="https://cdn-icons-png.flaticon.com/128/1828/1828901.png" alt="" class="answer"> -->
                                            <!-- </button> -->
                                        </div>
                                    </td>
                                    <td valign="middle" align="left"
                                        style="font-size: 18px; font-family: 微軟正黑體;letter-spacing: 2px; font-weight: 500;">
                                        &nbsp;&nbsp; 3天冷藏 / 5天冷凍
                                        <br>
                                        <br>
                                        &nbsp;&nbsp;氣溫攝氏 1~15度 ,可以承受常溫不冰 4-5小時<br>
                                        &nbsp;&nbsp;氣溫攝氏15~25度 ,可以承受常溫不冰 1-2小時<br>
                                        &nbsp;&nbsp;氣溫攝氏25度以上 ,可以承受常溫不冰 半小時-1小時 <br><br><br>
                                        &nbsp;&nbsp;注意！蛋糕不宜太陽直射 若在常溫處請放在陰涼處
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="faq_item">
                <div class="faq_question">
                    <table width:"100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr></tr>
                            <td valign="middle" align="right" width="0">
                                <div class="qicon">
                                    <!-- Q -->
                                    <img src="https://cdn-icons-png.flaticon.com/512/4553/4553013.png" alt="">
                                </div>
                            </td>
                            <td valign="middle" align="left" width="350" style="font-size: 20px
                        ;">&nbsp;&nbsp;&nbsp;請問你們是翻糖蛋糕嗎？</td>
                            <td valign="middle" align="right" width="1000">
                                <div class="expand5 qicon">
                                    <!-- 加號 -->
                                    <img src="https://cdn-icons-png.flaticon.com/512/2997/2997933.png" alt=""
                                        class="addicon">
                                </div>
                            </td>
                        </tbody>
                    </table>
                </div>
                <div class="answer5 faq_answer_container" style="display:none">
                    <div class="faq_split"></div>
                    <div class="faq_answer">
                        <table width:"70%" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                                <tr>
                                    <td valign="top" align="right" width="20">
                                        <div>
                                            <!-- <button class="expand"> -->
                                            <!-- 減號 -->
                                            <!-- <img src="https://cdn-icons-png.flaticon.com/128/1828/1828901.png" alt="" class="answer"> -->
                                            <!-- </button> -->
                                        </div>
                                    </td>
                                    <td valign="middle" align="left"
                                        style="font-size: 18px; font-family: 微軟正黑體;letter-spacing: 2px; font-weight: 500;">
                                        &nbsp;&nbsp;&nbsp;為了承載客製化的主題裝飾（例如像一個寶寶或是小動物等）
                                        <br>
                                        <br>
                                        &nbsp;&nbsp;&nbsp;所以蛋糕體必須選擇口感較扎實的磅蛋糕 外觀則以奶油霜塗抹<br>
                                        &nbsp;&nbsp;&nbsp;您看到有顏色的部分都是用食用色素調製而成<br>
                                        &nbsp;&nbsp;&nbsp;菓季蛋糕基本上不能算是翻糖蛋糕 <br>
                                        &nbsp;&nbsp;&nbsp;只有指定裝飾的人物件是用翻糖製作<br>
                                        &nbsp;&nbsp;&nbsp;因此還是需要冷藏保存喔！<br>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="faq_item">
                <div class="faq_question">
                    <table width:"100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr></tr>
                            <td valign="middle" align="right" width="0">
                                <div class="qicon">
                                    <!-- Q -->
                                    <img src="https://cdn-icons-png.flaticon.com/512/4553/4553013.png" alt="">
                                </div>
                            </td>
                            <td valign="middle" align="left" width="350" style="font-size: 20px
                        ;">&nbsp;&nbsp;&nbsp;菓季蛋糕寶寶可以食用嗎？</td>
                            <td valign="middle" align="right" width="1000">
                                <div class="expand6 qicon">
                                    <!-- 加號 -->
                                    <img src="https://cdn-icons-png.flaticon.com/512/2997/2997933.png" alt=""
                                        class="addicon">
                                </div>
                            </td>
                        </tbody>
                    </table>
                </div>
                <div class="answer6 faq_answer_container" style="display:none">
                    <div class="faq_split"></div>
                    <div class="faq_answer">
                        <table width:"70%" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                                <tr>
                                    <td valign="top" align="right" width="20">
                                        <div>
                                            <!-- <button class="expand"> -->
                                            <!-- 減號 -->
                                            <!-- <img src="https://cdn-icons-png.flaticon.com/128/1828/1828901.png" alt="" class="answer"> -->
                                            <!-- </button> -->
                                        </div>
                                    </td>
                                    <td valign="middle" align="left"
                                        style="font-size: 18px; font-family: 微軟正黑體;letter-spacing: 2px; font-weight: 500;">
                                        &nbsp;&nbsp;&nbsp;我們的配方不是專為寶寶設計食用的 , 但也沒有添加任何化學物
                                        <br>
                                        <br>
                                        &nbsp;&nbsp;&nbsp;都是ㄧ般的糖/麵粉/蛋/奶油等食材。<br>
                                        &nbsp;&nbsp;&nbsp;寶寶不宜吃太多糖, 也擔心奶油對周歲寶寶不好消化<br>
                                        &nbsp;&nbsp;&nbsp;所以我們建議少量嚐味道! <br>
                                        &nbsp;&nbsp;&nbsp;另外, 我們的蛋糕體採用海藻糖<br>
                                        &nbsp;&nbsp;&nbsp;海藻糖是天然的糖, 寶寶好吸收消化, 甜度低<br>
                                        &nbsp;&nbsp;&nbsp;若希望寶寶可以淺嚐,就吃蛋糕體喔！<br>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="faq_item">
                <div class="faq_question">
                    <table width:"100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr></tr>
                            <td valign="middle" align="right" width="0">
                                <div class="qicon">
                                    <!-- Q -->
                                    <img src="https://cdn-icons-png.flaticon.com/512/4553/4553013.png" alt="">
                                </div>
                            </td>
                            <td valign="middle" align="left" width="350" style="font-size: 20px
                        ;">&nbsp;&nbsp;&nbsp;蛋糕甜度可以調整嗎？</td>
                            <td valign="middle" align="right" width="1000">
                                <div class="expand7 qicon">
                                    <!-- 加號 -->
                                    <img src="https://cdn-icons-png.flaticon.com/512/2997/2997933.png" alt=""
                                        class="addicon">
                                </div>
                            </td>
                        </tbody>
                    </table>
                </div>
                <div class="answer7 faq_answer_container" style="display:none">
                    <div class="faq_split"></div>
                    <div class="faq_answer">
                        <table width:"70%" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                                <tr>
                                    <td valign="top" align="right" width="20">
                                        <div>
                                            <!-- <button class="expand"> -->
                                            <!-- 減號 -->
                                            <!-- <img src="https://cdn-icons-png.flaticon.com/128/1828/1828901.png" alt="" class="answer"> -->
                                            <!-- </button> -->
                                        </div>
                                    </td>
                                    <td valign="middle" align="left"
                                        style="font-size: 18px; font-family: 微軟正黑體;letter-spacing: 2px; font-weight: 500;">
                                        &nbsp;&nbsp;&nbsp;我們目前蛋糕的糖已改用海藻糖製作 不但大幅降低原本的甜度
                                        <br>
                                        <br>
                                        &nbsp;&nbsp;&nbsp;還可增加蛋糕保濕度與健康性<br>
                                        &nbsp;&nbsp;&nbsp;但無法針對單一客人改變口味 <br>
                                        &nbsp;&nbsp;&nbsp;若真的很怕甜<br>
                                        &nbsp;&nbsp;&nbsp;建議可以選擇我們經典口味：草莓覆盆子或檸檬藍莓（偏酸）<br>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="faq_item">
                <div class="faq_question">
                    <table width:"100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr></tr>
                            <td valign="middle" align="right" width="0">
                                <div class="qicon">
                                    <!-- Q -->
                                    <img src="https://cdn-icons-png.flaticon.com/512/4553/4553013.png" alt="">
                                </div>
                            </td>
                            <td valign="middle" align="left" width="350" style="font-size: 20px
                        ;">&nbsp;&nbsp;&nbsp;為何蛋糕內有牙籤？</td>
                            <td valign="middle" align="right" width="1000">
                                <div class="expand8 qicon">
                                    <!-- 加號 -->
                                    <img src="https://cdn-icons-png.flaticon.com/512/2997/2997933.png" alt=""
                                        class="addicon">
                                </div>
                            </td>
                        </tbody>
                    </table>
                </div>
                <div class="answer8 faq_answer_container" style="display:none">
                    <div class="faq_split"></div>
                    <div class="faq_answer">
                        <table width:"70%" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                                <tr>
                                    <td valign="top" align="right" width="20">
                                        <div>
                                            <!-- <button class="expand"> -->
                                            <!-- 減號 -->
                                            <!-- <img src="https://cdn-icons-png.flaticon.com/128/1828/1828901.png" alt="" class="answer"> -->
                                            <!-- </button> -->
                                        </div>
                                    </td>
                                    <td valign="middle" align="left"
                                        style="font-size: 18px; font-family: 微軟正黑體;letter-spacing: 2px; font-weight: 500;">
                                        &nbsp;&nbsp;&nbsp;因為我們是造型蛋糕 為了固定美麗的裝飾
                                        <br>
                                        <br>
                                        &nbsp;&nbsp;&nbsp;不會因為運送搖晃過程而掉落<br>
                                        &nbsp;&nbsp;&nbsp;我們在翻糖裝飾物底下/造型數字餅乾後面/每一顆馬卡龍都會竹籤或牙籤固定 <br>
                                        &nbsp;&nbsp;&nbsp;所以在食用時請特別注意！ <br>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 預留固定footer的位置 -->
    <footer>
        <div id="footer">
            <div id="icon">
                <div>
                    <img id="footerLogo" src="./Source/IMG/Logo.png" alt="Logo" style="width: 100px;">
                    <a href="https://www.facebook.com/ispanTaipei" target="_blank"><img src="./Source/IMG/FB.png"
                            alt=""></a>
                    <a href="https://www.instagram.com/5gutlab_zicehui/" target="_blank"><img src="./Source/IMG/ig.png"
                            alt=""></a>
                    <a onclick="self.location.href='mailto:iservice@ispan.com.tw;'"><img src="./Source/IMG/mail.png"
                            alt=""></a>
                </div>
                <div>
                    <h4>訂購電話</h4>
                    <h6>04-1234567</h6><br>
                    <h4>營業時間</h4>
                    <h6>週二-週日10:00至19:00 每週一公休</h6><br>
                    <h4>地址</h4>
                    <h6>台中市南屯區公益路二段(國泰世華大樓18樓)</h6>
                </div>
            </div>
            <div>
                <small>Copyright © 2023 MFEE32 第一組. All rights reserved.</small>
            </div>
        </div>
    </footer>



    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- 還沒找到直接設定var index = $(this).index();不需要到8次重複 -->
    <script>
        $(document).ready(function () {
            // 當使用者按下按鈕時
            $('.expand1').on('click', function () {
                var index = $(this).index();
                // 如果答案已顯示
                if ($('.answer1').eq(index).is(':visible')) {
                    // 隱藏答案
                    $('.answer1').eq(index).slideUp();
                } else {
                    // 顯示答案，並以緩慢的方式向下滑動
                    $('.answer1').eq(index).slideDown();
                }
            });
        });
        $(document).ready(function () {
            // 當使用者按下按鈕時
            $('.expand2').on('click', function () {
                var index = $(this).index();
                // 如果答案已顯示
                if ($('.answer2').eq(index).is(':visible')) {
                    // 隱藏答案
                    $('.answer2').eq(index).slideUp();
                } else {
                    // 顯示答案，並以緩慢的方式向下滑動
                    $('.answer2').eq(index).slideDown();
                }
            });
        });
        $(document).ready(function () {
            // 當使用者按下按鈕時
            $('.expand3').on('click', function () {
                var index = $(this).index();
                // 如果答案已顯示
                if ($('.answer3').eq(index).is(':visible')) {
                    // 隱藏答案
                    $('.answer3').eq(index).slideUp();
                } else {
                    // 顯示答案，並以緩慢的方式向下滑動
                    $('.answer3').eq(index).slideDown();
                }
            });
        });
        $(document).ready(function () {
            // 當使用者按下按鈕時
            $('.expand4').on('click', function () {
                var index = $(this).index();
                // 如果答案已顯示
                if ($('.answer4').eq(index).is(':visible')) {
                    // 隱藏答案
                    $('.answer4').eq(index).slideUp();
                } else {
                    // 顯示答案，並以緩慢的方式向下滑動
                    $('.answer4').eq(index).slideDown();
                }
            });
        });
        $(document).ready(function () {
            // 當使用者按下按鈕時
            $('.expand5').on('click', function () {
                var index = $(this).index();
                // 如果答案已顯示
                if ($('.answer5').eq(index).is(':visible')) {
                    // 隱藏答案
                    $('.answer5').eq(index).slideUp();
                } else {
                    // 顯示答案，並以緩慢的方式向下滑動
                    $('.answer5').eq(index).slideDown();
                }
            });
        });
        $(document).ready(function () {
            // 當使用者按下按鈕時
            $('.expand6').on('click', function () {
                var index = $(this).index();
                // 如果答案已顯示
                if ($('.answer6').eq(index).is(':visible')) {
                    // 隱藏答案
                    $('.answer6').eq(index).slideUp();
                } else {
                    // 顯示答案，並以緩慢的方式向下滑動
                    $('.answer6').eq(index).slideDown();
                }
            });
        });
        $(document).ready(function () {
            // 當使用者按下按鈕時
            $('.expand7').on('click', function () {
                var index = $(this).index();
                // 如果答案已顯示
                if ($('.answer7').eq(index).is(':visible')) {
                    // 隱藏答案
                    $('.answer7').eq(index).slideUp();
                } else {
                    // 顯示答案，並以緩慢的方式向下滑動
                    $('.answer7').eq(index).slideDown();
                }
            });
        });
        $(document).ready(function () {
            // 當使用者按下按鈕時
            $('.expand8').on('click', function () {
                var index = $(this).index();
                // 如果答案已顯示
                if ($('.answer8').eq(index).is(':visible')) {
                    // 隱藏答案
                    $('.answer8').eq(index).slideUp();
                } else {
                    // 顯示答案，並以緩慢的方式向下滑動
                    $('.answer8').eq(index).slideDown();
                }
            });
        });

    </script>
    <script src="./js/_js/jquery-3.6.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="../js/ADswiper.js"></script>
    <script src="../js/goTop.js"></script>
    <script>
        // LINE視窗
        const line = document.getElementById("Line");
        const Close = document.getElementById("close");
        const Linediv = document.getElementById("LINE_QR");

        line.addEventListener("click", function () {
            Linediv.style.visibility = "visible";
            Linediv.classList.remove("animate__bounceOutDown");
            Linediv.classList.add("animate__bounceInUp")
        });

        Close.addEventListener("click", function () {
            Linediv.classList.remove("animate__bounceInUp")
            Linediv.classList.add("animate__bounceOutDown")
            setTimeout(function () {
                Linediv.style.visibility = "hidden";
            }, 2000);
        });
    </script>
</body>

</html>