<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>菓季-會員註冊</title>
  <script src="js/jquery-3.6.0.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="css/08-14.css">
  <style>
    .hidden {
      display: none;
    }

    #email1 {
      color: #008f47;
    }

    .emailMessege {
      margin-left: 290px;
      font-size: 20px;
      color: red;
      font-weight: 500;
    }
  </style>
  <style>
    /* 字型引用 */
    @font-face {
      font-family: 'GenSenRounded-B';
      src: local("GenSenRounded-B"),
        url('../Source/ttc/GenSenRounded-B.ttc') format("woff"),
        url('../Source/ttc/GenSenRounded-B.ttc') format("opentype"),
        url('../Source/ttc/GenSenRounded-B.ttc') format("embedded-opentype");
    }

    /* 色票表 */
    :root {
      --sky: #a6dbf5;

      --Green01: #368284;
      --Green02: #628e59;
      --Green03: #fff1c5;
      --Green04: #87c379;

      --YWhite: #F6F3E4;
      --GWhite: #F7F8F3;

      --BG_LYellow: #f0da99;
      --BG_LOrange: #F3D1B2;
      --BG_MOrange: #f7bc88;

      --Brown01: #5c3a31;
      --Brown02: #835B36;
      --Brown03: #BB8058;

      --Brown04_BE: #b79779;
      --Brown05_BEtxt: #876464;

      --BTN_Red: #e3344b;
      --BTN_Green: #337e47;
      --BTN_Yellow: #f39800;
    }

    /* 字型套用 */
    body {
      font-family: GenSenRounded-B !important;
      background-color: var(--Green03);
    }

    nav {
      width: 100vw;
      position: fixed;
      top: 0px;
      margin: 0;



      display: flex;
      flex-direction: row;
      z-index: 4;

      justify-content: space-between;
      align-items: center;

      padding: 10px 100px 10px 40px;
      transition: 1.0 ease;

      background-color: hsla(0, 0%, 100%, 0.5);

      color: var(--Brown02);
      letter-spacing: 2px;
    }

    nav>div:first-of-type {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    nav>div img {
      height: 50px;
      margin: 0 20px 0 0;
    }

    nav a {
      text-decoration: none;
    }

    nav>div:first-of-type>a>p {
      font-size: 1.4em;
      margin: 0;
      color: var(--Brown01);
    }

    nav>#navlist>a>p {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0;
      font-size: 1.2em;
      color: var(--Brown01);
    }

    #navlist {
      min-width: 600px;
      display: flex;
      justify-content: space-between;
      margin: 0 100px 0 0;
    }

    #navlist svg {
      width: fit-content;
      height: fit-content;
      color: var(--Brown01);
    }

    /*線段hover功能*/
    nav>div#navlist>a:after,
    nav>div>a>p:after {
      display: block;
      content: '';
      border-bottom: solid 2px var(--Brown01);
      transform: scaleX(0);
      transform-origin: 0%;
      transition: transform 250ms ease-in-out;
    }

    nav>div#navlist>a:hover:after,
    nav>div>a>p:hover:after {
      transform: scaleX(1);
    }

    /* ----------------AD----------------- */
    #carouselExampleIndicators {
      margin-top: 70px;
      width: 100%;
    }

    /* ----------------------------------------- */
    #footer>img {
      width: 100vw;
    }

    footer {
      position: relative;
      width: 100%;
      min-width: 1440px;
      background-image: url(../Source/IMG/Key-Vision/middle_long.png);
      background-position: top;
      background-size: 60%;
      background-repeat: repeat-x;
      z-index: 3;
      height: 600px;
      color: var(--GWhite);
    }

    #footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 30px 30px 0px 30px;
      color: var(--YWhite);
    }

    #icon {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    #icon>div {
      margin: 50px;
    }

    #icon a>img {
      width: 50px;
      margin: 0 10px;
    }
  </style>
</head>

<body>
  <!-- nav-->
  <!-- nav-->
  <nav>
    <div>
      <a href="/"><img src="../Source/IMG/Logo.png" alt="Logo"></a>
      <a href="/">
        <p>菓季</p>
      </a>
    </div>
    <div id="navlist">
      <a href="/C01/0">
        <p>主題蛋糕</p>
      </a>
      <a href="/C02">
        <p>客製蛋糕</p>
      </a>
      <a href="/C03">
        <p>餡料食材介紹</p>
      </a>
      <a href="/C04">
        <p>常見問題</p>
      </a>
      <% if(!session.user) { %>
        <a href="/C05"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
            class="bi bi-person-fill" viewBox="0 0 16 16">
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
          </svg></a>
        <% }else if(session.user.rights){%>
          <a href="/C05_2/1"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
              class="bi bi-person-fill" viewBox="0 0 16 16">
              <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
            </svg></a>
          <%}else{%>
            <a href="/C05_4/1"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                class="bi bi-person-fill" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
              </svg></a>
            <%}%>
              <a href="/C06"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                  class="bi bi-cart3" viewBox="0 0 16 16">
                  <path
                    d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </svg></a>
    </div>
  </nav>
  <!-- 預留固定輪播的位置 -->
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="active"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class="active"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="Source/IMG/ad1.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item active">
        <img src="Source/IMG/ad2.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item active">
        <img src="Source/IMG/ad3.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="signUpbgcolor">
    <div class="member_title">
      <h2>會員註冊</h2>
    </div>

    <form id="formAdd" class="signuparea">
      <div class="changeloing"><a href="/C05">已經是會員了嗎？</a></div>
      <div class="emailarea">
        <label for="">EMAIL</label>
        <input type="email" id="email" name="email" placeholder="Email為帳號" value="abc13@gmail.com" required><span
          id="email1" class="hidden">OK</span>
      </div>
      <div class="emailMessege hidden" id="email0">
        帳號重複或格式錯誤!
      </div>
      <div class="passwordarea">
        <label for="">密碼</label>
        <input type="password" name="password" value="1234" required>
      </div>
      <div class="password2area">
        <label for="">確認密碼</label>
        <input type="password" name="password2" value="1234" required>
      </div>
      <div class="passmessege">密碼與確認密碼輸入不一致，請重新輸入</div>
      <div class="namearea">
        <label for="">姓名</label>
        <input type="text" name="name" value="陳杰克" required>
      </div>
      <div class="birthdayarea">
        <label for="">生日</label>
        <input type="date" name="birthday" value="1995-08-20" required>
      </div>
      <div class="sexarea">
        <label for="">性別</label>
        <input type="radio" name="gender" value="男" checked>生理男
        <input type="radio" name="gender" value="女">生理女
      </div>
      <div class="phonearea">
        <label for="">手機</label>
        <input type="phone" name="phone" value="0908012749" required>
      </div>
      <div class="addressarea">
        <label for="">通訊地址</label>
        <input type="text" name="address" value="台中市公益路2段12號12樓" required>
      </div>
      <div class="onlyyesarea">
        <input type="radio" checked required>
        <label for="">我同意服務條款</label>
      </div>
      <div class="buttonarea">
        <!-- <button id="submit"></button> -->
        <input type="button" id="submit" class="buttonareabutton" value="註冊">
      </div>
    </form>
    <div class="showsuccessarea">
      <div class="xbutton">
        <button>X</button>
      </div>
      <div class="showsuccessword">
        <h2>註冊成功!</h2>
        <p>3秒將自動跳轉</p>
      </div>
    </div>
  </div>
  </div>

  <!-- 預留固定footer的位置 -->
  <footer>
    <div id="footer">
      <div id="icon">
        <div>
          <img id="footerLogo" src="./Source/IMG/Logo.png" alt="Logo" style="width: 100px;">
          <a href="https://www.facebook.com/ispanTaipei" target="_blank"><img src="./Source/IMG/FB.png" alt=""></a>
          <a href="https://www.instagram.com/5gutlab_zicehui/" target="_blank"><img src="./Source/IMG/ig.png"
              alt=""></a>
          <a onclick="self.location.href='mailto:iservice@ispan.com.tw;'"><img src="./Source/IMG/mail.png" alt=""></a>
        </div>
        <div>
          <h4>訂購電話</h4>
          <h6>04-1234567</h6><br>
          <h4>營業時間</h4>
          <h6>週二-週日10:00至19:00 每週一公休</h6><br>
          <h4>地址</h4>
          <h6>台中市南屯區公益路二段(國泰世華大樓18樓)</h6>
        </div>
      </div>
      <div>
        <small>Copyright © 2023 MFEE32 第一組. All rights reserved.</small>
      </div>
    </div>
  </footer>





  <script>
    var password = document.querySelector("input[name='password']");  //不要用type
    var password2 = document.querySelector("input[name='password2']");
    var passmessege = document.querySelector(".passmessege");

    // 一開始就隱藏
    passmessege.style.display = "none";

    password2.addEventListener("input", function () {
      if (password.value !== password2.value) {
        passmessege.style.display = "block";
      } else {
        passmessege.style.display = "none";
      }
    });



    $('#email').on('change', function () {
      var email = { email: $('#email').val() }
      // console.log(email);
      if ($('#email').val().includes("@")) {
        $.ajax({
          url: "/email", //cake.js 的註冊頁 
          type: "POST",
          contentType: "application/json; charset=utf-8",
          data: JSON.stringify(email),
          success: function (res) {
            // console.log(res);
            if (parseInt(res)) {
              $('#email1').removeClass('hidden'); //移除隱藏
              $('#email0').addClass('hidden');    //添加隱藏
              //  $('#email1').val()
            } else {
              $('#email0').removeClass('hidden'); //移除隱藏
              $('#email1').addClass('hidden');    //添加隱藏
            }

          },
          error: function () {
            alert("Add 系統錯誤!");

          }
        })

      } else {
        $('#email0').removeClass('hidden'); //移除隱藏
        $('#email1').addClass('hidden');    //添加隱藏
      }


    })

    $('#submit').on('click', function () {

      var data = $('#formAdd').serializeArray(); //合併成陣列

      var JSONData = {};
      for (index in data) {
        JSONData[data[index].name] = data[index].value;  //做成新物件
      }

      $.ajax({
        url: "/C05_1", //cake.js 的註冊頁 
        type: "POST",
        contentType: "application/json; charset=utf-8",
        data: JSON.stringify(JSONData),
        success: function (res) {
          // alert(res);
          // location.href = '/';

          document.getElementsByClassName("showsuccessarea")[0].style.display = "block";

          setTimeout(function () {
            // document.getElementsByClassName("showsuccessarea")[0].style.display = "none";
            location.href = '/';
          }, 3000);


          document.getElementsByTagName("button")[0].onclick = function () {
            document.getElementsByClassName("showsuccessarea")[0].style.display = "none";
            location.href = '/';
          };

        },
        error: function () {
          alert("Add 系統錯誤!");

        }
      })
    })




  </script>
  <script>
    /*點擊註冊後會有浮窗並且5秒後自己關掉以及按X也可以關掉*/
    document.getElementsByClassName("buttonareabutton")[0].onclick = function () {
      document.getElementsByClassName("showsuccessarea")[0].style.display = "block";
      setTimeout(function () {
        document.getElementsByClassName("showsuccessarea")[0].style.display = "none";
      }, 5000);
    };
    document.getElementsByTagName("button")[0].onclick = function () {
      document.getElementsByClassName("showsuccessarea")[0].style.display = "none";
    };
  </script>
  <script src="./js/_js/jquery-3.6.0.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
</body>

</html>