<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="js/jquery-3.6.0.js"></script>
</head>
<body>
    <div>購物車</div>
    <table>
        <thead>
            <th>商品</th>
            <th>價格</th>
            <th>數量</th>
        </thead>
        <tbody>
          
        </tbody>
    </table>
    <div>
        總計:<input type="number" id="sum" value="0" readonly>
    </div>
    <button id="clr">清空購物車</button>
   
    <script>
         function doDel(index){
          var newitem = JSON.parse(localStorage.getItem('carts')) ;
          newitem.splice(index,1);
          console.log('new',newitem); 
          localStorage.setItem("carts", JSON.stringify(newitem));
        //   location.href = '/C06';
        test();
        }
         function doChange(value,index){
          var newitem = JSON.parse(localStorage.getItem('carts')) ;
          newitem[index].quantity = parseInt(value);
        //   console.log('new',newitem); 
          localStorage.setItem("carts", JSON.stringify(newitem));
        //   location.href = '/C06';
        test();
        }

        function test () {

       
        // $(function(){
            var newcarts = JSON.parse(localStorage.getItem('carts'));
            
            // console.log(newcarts);
            $("tbody").empty();
            if(newcarts){
                var sum = 0;
               
                 newcarts.forEach( function(e,index){
                  
                var data = {name:e.name}
                $.ajax({
                            url: "/buy", //cake.js 的buy頁 
                            type: "POST",
                            contentType: "application/json; charset=utf-8",
                            data: JSON.stringify(data),
                            success: function(res) {
                            // console.log(typeof(JSON.parse(res)));
                            var cname = JSON.parse(res).c_name 
                            var price = JSON.parse(res).price 
                            
                            $("tbody").append(`<tr><td>${cname}</td><td>${price}</td><td><input type="number" value="${e.quantity}" onchange="doChange(this.value,${index})" min="1" max="5" style ="width:50px"></td><td><button onclick="doDel(${index})">刪除</button> </td></tr>`);
                            // console.log(typeof(price))
                            // console.log(typeof(e.quantity))
                            sum +=  price*e.quantity;
                            // console.log(sum);
                            $('#sum').val(sum)
                            },
                            error: function() {
                                alert("Add 系統錯誤!");
                                
                            }
                            })
                
            });
            }
           
            
           

            $('#clr').on('click',function(){
            localStorage.removeItem('carts')
            location.href = '/C06';
        })

       
        



        // })
    }
    test();
        
    </script>
</body>
</html>