<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>member-sign</title>
  <script src="js/jquery-3.6.0.js"></script>
  <link rel="stylesheet" href="css/member.css">
</head>

<body>
  <!-- 預留固定nav的位置 -->
  <div class="navtop"></div>
  <!--輪播-->
  <div class="slideshow-container">
    <div class="mySlides fade">
      <img src="./img01.jpg" style="width:100%" height="400px">
    </div>
    <div class="mySlides fade">
      <img src="./img02.jpg" style="width:100%" height="400px">
    </div>
    <div class="mySlides fade">
      <img src="./img03.jpg" style="width:100%" height="400px">
    </div>
    <div class="mySlides fade">
      <img src="./img04.jpg" style="width:100%" height="400px">
    </div>
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <!-- 輪播底下的圓圈圈 -->
  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
  </div>
  <div class="title">
    <p>會員註冊</p></div>
    <div class="memberDatabox">
    <form class="memberData" id="formAdd">
      EMAIL: <input type="text" name="email" value="qwe@gmail.com" /> <br>
      <p class="checkemail ">好欸!此帳號可以使用</p>
  
      密碼: <input type="password" name="password" value="1234" /> <br>
      確認密碼: <input type="password" name="password2" class="mb4" value="1234"/> <br>
      <p class="checkpassword ">密碼不一樣喔</p>
      姓名: <input type="text" name="name" value="aaa"/> <br>
      生日: <input type="date" name="birthday" value="1997-05-07"/> <br>
      性別: <input type="radio" name="gender" value="m" checked />男
      <input type="radio" name="gender" value="f" />女 <br>
      手機: <input type="text" name="phone" value="0123456" /> <br>
      通訊地址: <input type="text" name="address" value="aaaaaaaaaaaa"/> <br>
      <input type="checkbox" checked>我同意服務條款 <br>
      <!-- <button class="submin" id="submit">註冊</button> -->
      <button type="button" id="submit">註冊</button>
    </form>
    
  </div>
  <!-- 預留固定footer的位置 -->
  <div class="footer"></div>
  <script>
    var slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      if (n > slides.length) { slideIndex = 1 }
      if (n < 1) { slideIndex = slides.length }
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex - 1].style.display = "block";
      dots[slideIndex - 1].className += " active";
    }

    $('#submit').on('click', function() {
        
        var data = $('#formAdd').serializeArray(); //合併成陣列

        var JSONData = {};
        for (index in data) {
            JSONData[data[index].name] = data[index].value;  //做成新物件
        }
                 
        $.ajax({
            url: "/member", // mask.js 的 /insert
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(JSONData),
            success: function(res) {
                alert(res);
                location.href = '/';
            },
            error: function() {
                alert("Add 系統錯誤!");
                
            }
        })
    })
  </script>
</body>

</html>